$SCROLLBAR_COLOR: rgba(
    255,255,255,.3);
html,
body{
  height: 100%;
  scrollbar-face-color: transparent;
	scrollbar-track-color: transparent;
	scrollbar-arrow-color: $SCROLLBAR_COLOR;
	scrollbar-3dlight-color: none;
	scrollbar-shadow-color: $SCROLLBAR_COLOR;
	scrollbar-darkshadow-color: none;
  scrollbar-color: $SCROLLBAR_COLOR;
  scrollbar-width: thin;
  overflow: overlay;
}
::-webkit-scrollbar{
	width: 5px;
	height: 0;
	background-color: transparent;
}
::-webkit-scrollbar-track{
	border-radius: 0;
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	border-radius: 9px;
	background-color: hsla(0, 0%, 42%, 0.49);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.ui-widget.ui-datepicker{
  width: 300px;padding: .5rem;z-index: 11;
  .ui-widget-header{background: #fff;border: 0;}
  .ui-state-default{border: 0;}
  td span,
  td a{text-align: center;border-radius: 10px;padding: 7px 2px 0;margin: 0 2px;width: 31px;height: 31px;}
  .ui-state-highlight{background: rgba(13, 110, 253, 0.15);color: #000;}
  .ui-state-active{background: $PRIMARY_COLOR;color: #fff !important;}
  .ui-datepicker-calendar{
      > thead th{border-top: 1px solid #ececea;border-bottom: 1px solid #ececea;}
      > thead th.ui-datepicker-week-end:first-child,
      > tbody td.ui-datepicker-week-end:first-child a{color: #fe3434;}
      > tbody tr:first-child a,
      > tbody tr:first-child span{margin-top: 8px;}
  }
  .ui-datepicker-prev{
      .ui-icon{display: none;}
      &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 7px 5px 0;border-color: transparent #000 transparent transparent;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
  }
  .ui-datepicker-next{
      .ui-icon{display: none;}
      &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 7px;border-color: transparent transparent transparent #000;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
  }
  select.ui-datepicker-month,
  select.ui-datepicker-year{width: auto;border: 0;}
  select.ui-datepicker-month{margin-left: 12px;}
}

.col,
.col-auto{min-width: 0;}

.fade {
  transition: opacity .15s linear;
  &:not(.show){opacity: 0;}
}

.overflow-y-scroll{
  overflow-y: overlay;height: 100%;overflow-x: hidden;
}

.btn-back{
  margin-right: 5px;margin-left: -15px;flex: 0 0 40px;
}

#loading{
  position: fixed;left: 0;top: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.6);z-index: 999;display: none;
  .loading{
    display: flex;flex-direction: column; align-items: center;justify-content: center;height: 100%;
  }
  .loading-message{
    color: #fff;font-size: 16px;text-align: center;margin-top: 1.5rem;
  }
  .complete-icon{width: 60px;height: 60px;background: url('../images/loading-complete.svg') no-repeat 0 0;background-size: contain;display: none;}
  &.show{display: block;}
  &.complete{
    .spinner-border{display: none;}
    .complete-icon{display: block;}
  }
}

.multiple-select{
  position: relative;padding-right: 1.5rem;margin-right: .25rem;
  .form-check-input{transform: translateY(-.5px);}
  &::after{content: '';display: inline-block;width: 2px;height: 20px;background: #444;vertical-align: middle;position: absolute;right: 0;top: 50%;margin-top: -10px;}
}

.top-functions{
  height: 56px;padding: 0 1.5rem;
  .buttons{
    display: flex;align-items: center;gap: 1.25rem;
  }
}

.btn-sort{
  & ~ .modal{right: -50px;top: 39px;}
}

button{
  &[disabled]{
    [class^=icon-]{opacity: .2;}
  }
}

.btn-favorites{
  &.active{
    .icon-favorites{background-image: url('../images/icon-favorites-on.svg');}
  }
}

.table-date{
  font-size: 12px;display: block;color: $GRAY_LIGHT_COLOR;text-align: center;
  i{width: 16px;height: 16px;margin-right: .25rem;transform: translateY(-1px);}
}
.table-time{font-size: 12px;display: block;color: $GRAY_LIGHT_COLOR;text-align: center;}

.group-name{font-weight: 700;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;max-width: 100%;}
.group-pttid{
  font-size: 12px;color: $GRAY_LIGHT_COLOR;line-height: 1.1;white-space: nowrap;text-overflow: ellipsis;max-width: 100%;overflow: hidden;margin-top: 3px;
}
.user-name{font-weight: 700;white-space: nowrap;text-overflow: ellipsis;max-width: 100%;overflow: hidden;}
.user-pttid{
  font-size: 12px;color: $GRAY_LIGHT_COLOR;line-height: 1.1;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-top: 3px;max-width: 100%;
  .icon-emergency{transform: translateY(-2px);width: 16px;height: 16px;background-image: url('../images/icon-emergency-white-mark.svg');}
}
.last-user{font-size: 12px;color: $GRAY_LIGHT_COLOR;}
.last-message{
  font-size: 12px;color: $GRAY_LIGHT_COLOR;
  .icon-emergency{transform: translateY(-2px);width: 16px;height: 16px;background-image: url('../images/icon-emergency-white-mark.svg');}
}

.group-set{
  display: flex;align-items: center;
  &.group-set-lg{
    .group-name,
    .user-name{font-size: 18px;}
    .group-pttid,
    .user-pttid{font-size: 16px;}
  }
  .table-top &,
  .modal-header &{
    .group-name,
    .user-name{font-size: 16px;line-height: 21px;}
    .group-pttid,
    .user-pttid{font-size: 14px;line-height: 20px;margin-top: 0;}
  }
}

.sound-ani {
  display: flex;justify-content: center;align-items: center;
  .bar {
    background: #fff;bottom: 1px;height: 5px;width: 1px;margin: 0 1px;animation: sound 0ms -600ms linear infinite alternate;
    &:nth-child(1)  { left: 1px; animation-duration: 474ms; }
    &:nth-child(2)  { left: 15px; animation-duration: 433ms; }
    &:nth-child(3)  { left: 29px; animation-duration: 407ms; }
    &:nth-child(4)  { left: 43px; animation-duration: 378ms; }
    &:nth-child(5)  { left: 57px; animation-duration: 410ms; }
    &:nth-child(6)  { left: 71px; animation-duration: 427ms; }
    &:nth-child(7)  { left: 85px; animation-duration: 441ms; }
    &:nth-child(8)  { left: 99px; animation-duration: 419ms; }
    &:nth-child(9)  { left: 113px; animation-duration: 487ms; }
    &:nth-child(10) { left: 127px; animation-duration: 442ms; }
  }
}
@keyframes sound {
  0% {
    opacity: .35;
    height: 2px;
  }
  100% {
    opacity: 1;
    height: 8px;
  }
}


.status-icon{
  display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;flex: 0 0 36px;margin-right: .75rem;width: 36px;height: 36px;position: relative;
  background-image: url('../images/icon-circle-group.svg');
}

.tab-pane:not(#tab-1){
  [data-regroup="Y"],
  [data-call-status="regroup"]{
    .status-icon{background-image: url('../images/icon-circle-regroup.svg');}
  }
}

.tab-pane:not(#tab-1){
  [data-patch="Y"],
  [data-call-status="patch"]{
    .status-icon{background-image: url('../images/icon-circle-patch.svg');}
  }
}
[data-private="Y"],
[data-call-status="private"]{
  .status-icon{background-image: url('../images/icon-circle-private.svg');}
  &[data-user-connecting="Y"]{
    .status-icon{background-image: url('../images/icon-circle-private-connecting.svg');}
  }
}

[data-emergency="Y"],
[data-call-status="emergency"]{
  .status-icon{background-image: url('../images/icon-circle-emergency.svg');}
}

[data-broadcast="Y"],
[data-call-status="broadcast"]{
  .status-icon{background-image: url('../images/icon-circle-broadcast.svg');}
}

[data-adhoc="Y"],
[data-call-status="adhoc"]{
  .status-icon{background-image: url('../images/icon-circle-adhoc.svg');}
}

[data-main-channel="Y"]{
  .status-icon{background-image: url('../images/icon-circle-main.svg');}
}

[data-dnd="Y"]{
  .status-icon{background-image: url('../images/icon-circle-dnd.svg') !important;}
}

[data-emergency-alert="Y"],
[data-call-status="emergency-alert"]{
  .status-icon{background-image: url('../images/icon-emergency-on.svg');
    border: 4px solid rgba(255, 41, 26, .4);border-radius: 50%;
    border-color: rgba(255, 41, 26, .4);animation: siren .35s linear infinite alternate;
  }
}