.ui-widget.ui-datepicker{
  width: 300px;padding: .5rem;z-index: 11;
  .ui-widget-header{background: #fff;border: 0;}
  .ui-state-default{border: 0;}
  td span,
  td a{text-align: center;border-radius: 10px;padding: 7px 2px 0;margin: 0 2px;width: 31px;height: 31px;}
  .ui-state-highlight{background: rgba(13, 110, 253, 0.15);color: #000;}
  .ui-state-active{background: $PRIMARY_COLOR;color: #fff !important;}
  .ui-datepicker-calendar{
      > thead th{border-top: 1px solid #ececea;border-bottom: 1px solid #ececea;}
      > thead th.ui-datepicker-week-end:first-child,
      > tbody td.ui-datepicker-week-end:first-child a{color: #fe3434;}
      > tbody tr:first-child a,
      > tbody tr:first-child span{margin-top: 8px;}
  }
  .ui-datepicker-prev{
      .ui-icon{display: none;}
      &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 7px 5px 0;border-color: transparent #000 transparent transparent;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
  }
  .ui-datepicker-next{
      .ui-icon{display: none;}
      &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 7px;border-color: transparent transparent transparent #000;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
  }
  select.ui-datepicker-month,
  select.ui-datepicker-year{width: auto;border: 0;}
  select.ui-datepicker-month{margin-left: 12px;}
}

.col,
.col-auto{min-width: 0;}

.fade {
  transition: opacity .15s linear;
  &:not(.show){opacity: 0;}
}

.overflow-y-scroll{
  overflow-y: auto;height: 100%;overflow-x: hidden;
}

.group-list{
  display: flex;flex-wrap: wrap;margin: -8px;
  .item{
    width: 33.33333%;padding: 8px;
    .btns{
      > div{flex: 0 0 40px;height: 40px;}
    }
    @media(min-width: 960px){
      width: 25%;
    }
    @media(min-width: 992px){
      width: 25%;
      .btns > div{
        flex: 0 0 56px;height: 56px;
      }
    }
    @media(min-width: 1024px){
      width: 25%;
    }
    @media(min-width: 1440px){
      width: 20%;
    }
    @media(min-width: 1600px){
      width: 16.66666%;
    }
    @media(min-width: 1920px){
      width: 12.5%;
    }
    @media(min-width: 2400px){
      width: 11.11111%;
    }
  }
  /* right open 열렸을 때 */
  @at-root{
    html[class^="is-"]{
      .group-list .item{
        @media(min-width: 960px){
          width: 50%;
        }
        @media(min-width: 992px){

        }
        @media(min-width: 1024px){

        }
        @media(min-width: 1180px){

        }
        @media(min-width: 1440px){
          width: 33.33333%;
        }
        @media(min-width: 1600px){
          width: 25%;
        }
        @media(min-width: 1920px){
          width: 20%;
        }
        @media(min-width: 2400px){
          width: 12.5%;
        }
      }
    }
  }

  /* multiple selection checked */
  &.selectable{
    a,
    button{pointer-events: none;}
  }
}

.btn-back{
  margin-right: 5px;
}

#loading{
  position: fixed;left: 0;top: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.6);z-index: 999;display: none;
  .loading{
    display: flex;flex-direction: column; align-items: center;justify-content: center;height: 100%;
  }
  .loading-message{
    color: #fff;font-size: 16px;text-align: center;margin-top: 1.5rem;
  }
  &.show{display: block;}
}
