html,
body{
  height: 100%;
  scrollbar-face-color: transparent;
	scrollbar-track-color: transparent;
	scrollbar-arrow-color: #676C72;
	scrollbar-3dlight-color: none;
	scrollbar-shadow-color: #676C72;;
	scrollbar-darkshadow-color: none;
  scrollbar-color: #676C72;
  scrollbar-width: thin;
}
::-webkit-scrollbar{
	width: 6px;
	height: 6px;
	background-color: transparent;
}
::-webkit-scrollbar-track{
	border-radius: 0;
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	border-radius: 9px;
	background-color: #676C72;;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.ui-widget.ui-datepicker{
  width: 300px;padding: .5rem;z-index: 11;
  .ui-widget-header{background: #fff;border: 0;}
  .ui-state-default{border: 0;}
  td span,
  td a{text-align: center;border-radius: 10px;padding: 7px 2px 0;margin: 0 2px;width: 31px;height: 31px;}
  .ui-state-highlight{background: rgba(13, 110, 253, 0.15);color: #000;}
  .ui-state-active{background: $PRIMARY_COLOR;color: #fff !important;}
  .ui-datepicker-calendar{
      > thead th{border-top: 1px solid #ececea;border-bottom: 1px solid #ececea;}
      > thead th.ui-datepicker-week-end:first-child,
      > tbody td.ui-datepicker-week-end:first-child a{color: #fe3434;}
      > tbody tr:first-child a,
      > tbody tr:first-child span{margin-top: 8px;}
  }
  .ui-datepicker-prev{
      .ui-icon{display: none;}
      &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 7px 5px 0;border-color: transparent #000 transparent transparent;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
  }
  .ui-datepicker-next{
      .ui-icon{display: none;}
      &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 7px;border-color: transparent transparent transparent #000;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
  }
  select.ui-datepicker-month,
  select.ui-datepicker-year{width: auto;border: 0;}
  select.ui-datepicker-month{margin-left: 12px;}
}

.col,
.col-auto{min-width: 0;}

.fade {
  transition: opacity .15s linear;
  &:not(.show){opacity: 0;}
}

.overflow-y-scroll{
  overflow-y: auto;height: 100%;overflow-x: hidden;
}

.btn-back{
  margin-right: 5px;margin-left: -1rem;flex: 0 0 40px;
}

#loading{
  position: fixed;left: 0;top: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.6);z-index: 999;display: none;
  .loading{
    display: flex;flex-direction: column; align-items: center;justify-content: center;height: 100%;
  }
  .loading-message{
    color: #fff;font-size: 16px;text-align: center;margin-top: 1.5rem;
  }
  &.show{display: block;}
}

.card-functions{
  display: flex;align-items: center;
  .multiple-select{
    position: relative;padding-right: 1.5rem;margin-right: .25rem;
    &::after{content: '';display: inline-block;width: 2px;height: 20px;background: #444;vertical-align: middle;position: absolute;right: 0;top: 50%;margin-top: -10px;}
  }
  button{margin-left: 1.25rem;}
}

.sound-ani {
  display: flex;justify-content: center;align-items: center;
  .bar {
    background: #fff;bottom: 1px;height: 5px;width: 1px;margin: 0 1px;animation: sound 0ms -600ms linear infinite alternate;
    &:nth-child(1)  { left: 1px; animation-duration: 474ms; }
    &:nth-child(2)  { left: 15px; animation-duration: 433ms; }
    &:nth-child(3)  { left: 29px; animation-duration: 407ms; }
    &:nth-child(4)  { left: 43px; animation-duration: 378ms; }
    &:nth-child(5)  { left: 57px; animation-duration: 410ms; }
    &:nth-child(6)  { left: 71px; animation-duration: 427ms; }
    &:nth-child(7)  { left: 85px; animation-duration: 441ms; }
    &:nth-child(8)  { left: 99px; animation-duration: 419ms; }
    &:nth-child(9)  { left: 113px; animation-duration: 487ms; }
    &:nth-child(10) { left: 127px; animation-duration: 442ms; }
  }
}
@keyframes sound {
  0% {
    opacity: .35;
    height: 2px; 
  }
  100% {
    opacity: 1;       
    height: 8px;        
  }
}