.table-top{
  display: flex;align-items: center;justify-content: space-between;height: 56px;flex: 0 0 56px;position: relative;
  > .d-flex{flex: 1;}
}

.table-title{
  font-size: 18px; font-weight: 700;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;max-width: 100%;padding-right: 1.5rem;
  span{ font-weight: 400; margin-left: 5px;}
}

.table-sub-title{
  font-weight: 700;margin-bottom: .75rem;
}

.table-function{ display: flex;align-items: center;gap: .5rem; }

.table-body{
  flex-grow: 1;overflow-y: overlay;max-height: 100%;
}

.table{
  width: 100%;border-bottom: 1px solid $BORDER_COLOR;color: $GRAY_LIGHT_COLOR;
  th{font-weight: 400;}
  thead{
    th{color: #9B9FA4;padding: 0 .5rem;}
  }
  tbody{
    th,
    td{
      min-height: 100px; padding: .75rem .5rem;border-top: 1px solid $BORDER_COLOR;
    }
  }
  .selected{
    th,
    td{background: #202022;}
  }
  .muted{opacity: .4;}
  .modal &{
    th,
    td{border-color: #444;}
  }
  &.px-0{
    th,
    td{padding-left: 0;padding-right: 0;}
  }
}

.table-fixed{
  table-layout: fixed;
}

.table-thead-fixed{
  border-bottom: 1px solid #444;
  thead {
    display:table;table-layout:fixed;width: 100%;
    th{padding: .5rem;border-bottom: 1px solid #444444;}
  }
  tbody {
    display:block;max-height:40vh;overflow-y:overlay;overflow-x: hidden;
  }
  tbody tr {
    display:table;table-layout:fixed;width:100%;
    th,
    td{padding: .5rem;border: 0;}
    td{color: #fff;}
  }
}

.table-borderless{
  tbody{
    th,
    td{border: 0;padding: .375rem 0;}
    th{color: #fff;padding-right: 1rem;white-space: nowrap;}
  }
}

.tab-wrap-scroll{
  position: relative;z-index: 1;
  &::before{content: '';position: absolute;top: 0;left: -1.5rem;width: 40px;height: 100%;background: linear-gradient(to left,rgba(18,18,18,0) 0%,#000 42%);}
  &::after{content: '';position: absolute;top: 0;right: -2px;width: 50px;height: 100%;background: linear-gradient(to right,rgba(18,18,18,0) 0%,#000 24%);}
}
.tab-wrap{
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .nav{
    display: inline-flex;
    .nav-link{
      padding: 0 1rem;display: flex;align-items: center;justify-content: center;height: 56px;
      &.active{color: $PRIMARY_COLOR;border-color: $PRIMARY_COLOR; font-weight: bold;font-weight: 700;}
      &:last-child{margin-right: 2rem;}
    }
  }
}

.tab-content{
  padding-bottom: 1rem;overflow: hidden;
  > .tab-pane{display: none;}
  > .active{display: block;}
}

.card-sort{
  display: inline-flex;align-items: center;
  .form-check-label{white-space: nowrap;}
}

.form-group{
  margin-bottom: 1rem;
  label{margin-bottom: .5rem;}
}

.form-text{font-size: 12px;color: $GRAY_LIGHT_COLOR;margin-top: 4px;}

.btn-type-toggle{
  position: absolute;right: .75rem;top:50%;transform: translateY(-50%);
  .form-control[type=text] ~ &{
      .icon-eye-off{background-image: url('../images/icon-eye-on.svg');}
  }
}

.btn-input-x{
  position: absolute;right: .75rem;top: 50%;transform: translateY(-50%);display: none;
  .filled ~ &{display: block;}
  .btn-type-toggle ~ &{right: 2.5rem;}
}

.search-form{
  background: transparent; border: 0; border-radius: 24px; position: relative; height: 40px;min-width: 20px;
  .form-control{
    padding: 12px 3rem 12px 16px;width: 240px;background: #33363A;display: none;border-color: #3e4042;
  }
  .search-btn{ position: absolute; top: 50%; right: 15px; transform: translateY(-50%);}
  .btn-search-close{position: absolute;left: 8px;top: 50%;transform: translateY(-50%);display: none;}
  .btn-input-x{ right: 46px;}
  &.show{
    .form-control,
    .btn-search-close{display: block;}
  }
  &.search-form-full{
    .form-control{width: 100%;padding: 12px 5rem 12px 32px;}
    &.show{
      position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 100%;
    }
  }
  &:not(.search-form-full){
    .btn-search-close{display: none;}
  }
}

.setting-update{
  width: 100%; position: fixed; left: 0; bottom: 0; padding: 1rem 0; background-color: $PRIMARY_COLOR;
  > .container{ display:flex; align-items: center; justify-content: space-between ;}
  span{ font-size: 16px; color: #dfdfdf; line-height: 1.5; font-weight: bold; margin-left: 24px;}
}

.operation-tab{
  position: relative;
  /* &::after{content: '';position: absolute;bottom: 0;left: 0;height: 1px;width: 100%;background: #2d2e30;} */
  .nav-tabs{height: 42px;display: flex;align-items: center;}
  .nav-link{
    font-size: 16px;color: #757575; font-weight: 700;position: relative;flex: 1;padding-bottom: 2px;height: 100%;
    &::before{content: '';width: 100%;height: 2px;background: #707171;position: absolute;left: 0;bottom:0;border-radius: 10px;}
    &:last-child{margin-right: 0;}
    &.active{
      color: #fff;
      &::before{background: #fff;}
    }
    &:not(.active){
      i{opacity: .3;}
    }
  }
}

.group-emergency-head{ padding: 0 17px; border-bottom: 1px solid #33363A;}
.group-emergency-body{
  padding: 0 17px; flex-grow: 1; overflow: auto; height: 400px;
  &::-webkit-scrollbar { width: 6px; }
  &::-webkit-scrollbar-thumb { height: 30%; background: #676C72; border-radius: 9px; }
  &::-webkit-scrollbar-track { background: #000; }
}

.date-search-wrap{
  width:100%; display: flex; align-items: center; margin-bottom: 24px;
  .inp-calender{
    display: flex; align-items: center; background-color: #33363A; border: #3F4246; border-radius: 24px; position: relative; height: 48px;
    input{
      width:100%; background: transparent; border: 0; color: #fff; padding-left: 23px;
    }
    .icon-calendar{
      position: absolute; top: 50%; transform: translateY(-50%); right: 23px;
    }
  }
  .dash{ margin: 0 8px;}
  .date-search{margin-left: 14px;}
}

.message-box{
  padding: 0 1.5rem 1.5rem;
}

.message-date{
  position: relative;text-align: center; margin: 1.5rem auto;
  &::before{content: '';width: 100%;height: 1px;background: #33363A;position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
  span{
    background-color: #111214; padding: 0 1rem;display: inline-block;margin: 0 auto;
    border-radius: 40px; color: $GRAY_LIGHT_COLOR; line-height: 26px;position: relative;
  }
  &:first-of-type{margin-top: 0;}
}

.message-item{
  padding: 1rem 0;width: 100%;
  .user{margin-bottom: 8px;font-weight: 700;}
  .message{
    display: flex;align-items: flex-end;
    .cont{
      background-color: #454545;border-radius: 0 12px 12px 12px;padding: .5rem 1rem;word-break: break-all;display: flex;align-items: center;max-width: 70%;position: relative;overflow: hidden;font-size: 16px;line-height: 1.1875;
      p{display: flex;flex-direction: column;position: relative;}
      [class^=icon-]{margin-right: 4px;position: relative;}
      .icon-file{margin-right: 8px;}
      &.min-width{min-width: 110px;}
      strong{font-weight: 400;display: inline-block;margin-bottom: 2px;}
    }
    .img{
      max-width: 70%;
      img{border-radius: .75rem;}
    }
    .text-underline{color: $PRIMARY_COLOR;}
    .time{font-size: 12px;margin-left: 8px;white-space: nowrap;color: $GRAY_LIGHT_COLOR;}
    [class^=icon]{flex: 0 0 auto;}
  }
  &.my{
    .message{
      display: flex;flex-direction:row-reverse;
      .cont{
        &.min-width{justify-content: flex-end;}
      }
    }
    .time{margin-left: 0; margin-right: .5rem;align-items: flex-end;}
    .cont{background-color: $PRIMARY_COLOR;border-radius: 12px 0 12px 12px;}
  }
  &[data-gis=Y]{
    i{opacity: .6;}
  }
  &[data-adhoc=Y]{
    .cont{background: #afafaf !important;}
  }
  &[data-emergency=Y]{
    .cont{background: $DANGER_COLOR;}
    .time{
      display: flex;flex-direction: column;
      &::before{content: '';width: 16px;height: 16px;display: block;background: url('../images/icon-emergency-white-mark.svg');}
    }
  }
  &[data-emergency=end]{
    .cont{
      background: #fff;color: $DANGER_COLOR;
      strong{font-weight: 700;}
    }
    .time{
      display: flex;flex-direction: column;
      &::before{content: '';width: 16px;height: 16px;display: block;background: url('../images/icon-emergency-white-mark.svg');}
    }
    .icon-arrow-right{background-image: url('../images/icon-arrow-right-red.svg');}
  }
  &[data-broadcast=Y]{
    i{opacity: .6;}
  }
  &[data-playing=play]{
    .progress-bar{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: $PRIMARY_COLOR;}
    .icon-voice,
    .icon-video{background-image: url('../images/icon-pause.svg');}
  }
  &[data-playing=pause]{
    .progress-bar{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: $PRIMARY_COLOR;}
    .icon-voice,
    .icon-video{background-image: url('../images/icon-play.svg');}
  }
}

.message-input{
  background-color: #54595f;height: 48px;margin: 0 0 -1rem;position: relative;
  .form-control{
    color: #fff;background: #54595f;border: 0;height: 100%;padding-left: 0;padding-right: 1rem;
    &::placeholder{color: #9b9fa4;}
  }
  .message-input-btn{width:48px; height:48px;background-color: $PRIMARY_COLOR;}
}

.message-img-area{
  text-align: center;
  img{max-width: 100%;}
}

.message-video-area{
  position: relative;width: 100%;height: 0;padding-bottom: 56.25%;
  video,
  iframe{position: absolute;left: 0;top: 0;width: 100%;}
}

.map-in-modal{
  position: relative;
  .btn-here{position: absolute;right: 1rem;bottom: 1rem;width: 40px;height: 40px;border-radius: 50%;background: #fff;}
}
#map-modal{
  width: 100%;height: 240px;
}

/* Group */
.group-add-top{
  margin-bottom: 1rem;color: $GRAY_LIGHT_COLOR;
  strong{display: block;font-size: 18px;font-weight: 700;}
}

/* Group Detail */
.call-function{
  background: #2A2C2E;border: 1px solid #3f4143;border-radius: .5rem;margin-bottom: 1.5rem;margin-top: 1.5rem;
  display: flex;align-items: center;justify-content: space-around; text-align: center;padding: 1.5rem 1rem;
  button{
    flex: 1;
    &[disabled]{opacity: .35;}
  }
  span{font-size: 14px;display: block;margin-top: 6px;}
  i{width: 32px;height: 32px;}
}

/* log */
.log-item{margin-top: 2rem;
  .table{
    border-top: 1px solid $BORDER_COLOR;border-bottom: 1px solid $BORDER_COLOR;
    th,
    td{border: 0;}
  }
}
.filter-wrap{
  border-top: 1px solid #444;border-bottom: 1px solid #444;padding: .5rem;margin-top: .5rem;display: grid;grid-template-columns: 1fr 1fr;
  .form-check{margin: .5rem 0}
}

/* Card Menu */
.card-menu{
  .card-menu-top{
    margin-bottom: 2rem;margin-top: .5rem;display: flex;align-items: center;justify-content: center;text-align: center;padding: 0 1rem;
    button{
      margin: 0 .5rem;flex: 0 0 75px;
      &[disabled]{
        opacity: .35;
        i{opacity: 1;}
      }
      i{width: 32px;height: 32px;}
    }
    span{font-size: 14px;display: block;margin-top: 6px;}
  }
  .card-menu-body{
    margin-top: -.5rem;
    .set{
      border-top: 1px solid rgba(255,255,255,.1);padding: .25rem 0;
      li{
        padding: .75rem 1.5rem;
        a{display: inline-flex;align-items: center;vertical-align: top;
          &.disabled,
          &[disabled]{opacity: .35;pointer-events: none;}
        }
        &.d-flex{
          span{display: inline-block;}
        }
      }
      i{margin-right: .5rem;width: 24px;height: 24px;transform: translateY(-1px);flex: 0 0 24px;}
      span{display: block;word-break: break-all;}
    }
  }
}

.group-list-in-modal{
  padding: 1rem 1.5rem;border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* setting */
.settings{
  $border-color: rgba(255,255,255,0.1);
  border-top: 1px solid $border-color;
  .overflow-y-scroll{height: 330px;overflow: auto;}
  > .row{
    > .col-auto{border-right: 1px solid $border-color;}
    > .col{padding-left: 1.5rem;padding-right: 1.5rem;padding-top: 1rem;}
  }
  .tab-wrap{
    width: 150px;
    .nav{
      display: flex;
      .nav-link{width: 100%;text-align: left;margin: 0 !important;height: 48px;border-bottom: 1px solid $border-color;justify-content: start;padding-left: 1.5rem;padding-right: 1.5rem;}
    }
  }
  .modal-footer{padding-left: 0;padding-right: 0;}
  .range-wrap{
    display: flex;align-items: center;margin-top: 1rem;
    i{margin-left: 1rem;flex: 0 0 24px;}
    .range{margin: 0 1rem;flex-grow: 1;}
    .range-value{flex: 0 0 24px;text-align: right;margin-right: 1rem;transform: translateY(1px);}
  }
  .my-presence{
    p{margin: 1rem 0 .75rem;}
    .form-check{margin-bottom: 6px;}
  }
  .channel-sound{
    display: flex;align-items: center;gap: 1.5rem;margin-bottom: 1.5rem;
  }
}

.declaration-timer{
  display: block;font-size: 32px;font-weight: 700;margin-top: .75rem;line-height: 1;
}