.gis{
  width: 100%;height: 100%;position: relative;
  & ~ .container-fluid{
    position: absolute;left: 0;right: 0;top: 0;z-index: 998;
  }
  .circle{border-radius: 50rem;}
}
#map{
  width: 100%;height: 100%;
}

.btn-refresh{display: flex;align-items: center;justify-content: center;min-width: 40px;height: 40px;background: #fff;border-radius: 4px;position: absolute;right: 1.5rem;bottom: 60px;z-index: 999;}

.map-top-menu{
  position: absolute;left: 1rem;top: 10px;z-index: 999;display: flex;
  button{
    display: flex;align-items: center;justify-content: center;min-width: 40px;height: 40px;background: #fff;border-radius: 10rem;margin-bottom: 4px;border: 1px solid #eee;padding: 0 6px;margin-right: .5rem;
  }
}

.btn-device{
  color: #AFAFAF;
  span{margin-left: .5rem;font-weight: 700;}
  &.active{
    i{background-image: url('../images/icon-device-on.svg');}
    span{color: $PRIMARY_COLOR;}
  }
}

.btn-geofence{
  &.active{
    i{background-image: url('../images/icon-geofence-on.svg');}
  }
}

.map-right-menu{
  position: absolute;right: 1.5rem;top: 5.5rem;z-index: 999;
  button{
    display: flex;align-items: center;justify-content: center;min-width: 40px;height: 40px;background: #fff;border-radius: 4px;margin-bottom: 4px;border: 1px solid #eee;
  }
  .d-flex{
    button{margin-bottom: 0;border-radius: 0;border-top: 0;}
    button:first-child{border-radius: 4px 4px 0 0;border-top: 1px solid #eee;}
    button:last-child{border-radius: 0 0 4px 4px;}
  }
}

.layer-sub-btns{
  position: absolute;right: 44px;top: 0;background: #fff;border: 1px solid #eee;border-radius: 4px;display: flex;
  button{border: 0;width: 38px;height: 38px;margin: 0;}
}


.btn-here{margin-top: 40px;
  &.active{
    i{background-image: url('../images/icon-here-on.svg');}
  }
}

.map-bottom{
  position: absolute;left: 1.5rem;right: 1.5rem;bottom: 10px;z-index: 999;color: #000;text-align: center;
  .location{background-color: rgba(255,255,255,.6);border-radius: 10rem;height: 34px;line-height: 34px;display: inline-block;padding: 0 1.25rem;}
  .scale{
    display: inline-flex;align-items: center;
    i{margin-left: .5rem;}
  }
}