$gis-btn-bg-color: rgba(255,255,255,.8);
$gis-btn-border-color: rgba(0,0,0,0.24);
$gis-btn-border-radius: 8px;

.gis{
  width: 100%;height: 100%;position: relative;
  & ~ .top-functions{
    position: absolute;right: 0;top: 0;z-index: 998;width: auto;
  }
}
#map{
  width: 100%;height: 100%;
}

.btn-refresh{display: flex;align-items: center;justify-content: center;min-width: 42px;height: 42px;background: #fff;border-radius: $gis-btn-border-radius;position: absolute;right: 12px;bottom: 130px;z-index: 999;border: 1px solid $gis-btn-border-color;}

.map-top-menu{
  position: absolute;left: 12px;top: 58px;z-index: 999;display: flex;
  @media(min-width: 960px){
    top: 12px;
  }
  button{
    display: flex;align-items: center;justify-content: center;min-width: 40px;height: 40px;background: $gis-btn-bg-color;border-radius: 10rem;margin-bottom: 4px;border: 1px solid $gis-btn-border-color;padding: 0 .75rem;margin-right: .5rem;font-size: 12px;font-weight: 700;color: #000;
    span{margin-left: 3px;transform: translateY(1px);}
    &.active{
      color: #fff;
    }
  }
}

.btn-device{
  &.active{
    background: rgba(75, 40, 109, .8);border-color: #523c66;
    i{background-image: url('../images/icon-voice.svg');}
  }
}
.btn-cctv{
  &.active{
    background: rgba(234, 121, 86, .8);border-color: #b15c42;
    i{background-image: url('../images/icon-cctv.svg');}
  }
}

/* .btn-geofence{
  &.active{
    i{background-image: url('../images/icon-geofence-on.svg');}
  }
} */

html.is-gis{
  .operation-menu{
    button{pointer-events: none;opacity: .2;}
  }
  @media(min-width: 960px){
    .map-top-menu{
      top: 58px;
    }
    .address-search{
      left: 12px;transform: none;
    }
  }
  @media(min-width: 1024px){
    .map-top-menu{
      top: 12px;
    }
    .address-search{
      left: 50%;transform: translateX(-50%);
    }
  }
}

.address-search{
  position: absolute;top: 12px;left: 12px;
  @media(min-width: 960px){
    left: 50%;transform: translateX(-50%);
  }
  .search-form{
    width: 200px;
    @media(min-width: 960px){
      width: 240px;
    }
    .form-control{width: 100%;background: $gis-btn-bg-color;color: #000;border-color: $gis-btn-border-color;}
    .icon-search{background-image: url('../images/icon-search-dark.svg');}
  }
}

.map-right-menu{
  position: absolute;right: 12px;top: 5.5rem;z-index: 999;
  button{
    display: flex;align-items: center;justify-content: center;min-width: 42px;height: 42px;background: $gis-btn-bg-color;border-radius: $gis-btn-border-radius;margin-bottom: 12px;border: 1px solid $gis-btn-border-color;
  }
  .d-flex{
    button{margin-bottom: 0;border-radius: 0;border-top: 0;}
    button:first-child{border-radius: $gis-btn-border-radius $gis-btn-border-radius 0 0;border-top: 1px solid $gis-btn-border-color;}
    button:last-child{border-radius: 0 0 $gis-btn-border-radius $gis-btn-border-radius;}
  }
}

.btn-layer{
  &.active ~ .layer-sub-btns{display: flex;}
}
.layer-sub-btns{
  position: absolute;right: 44px;top: 0;background: $gis-btn-bg-color;border: 1px solid $gis-btn-border-color;border-radius: $gis-btn-border-radius;display: none;
  button{border: 0;width: 40px;height: 40px;margin: 0;background: none;}
}

.btn-layer-normal{
  &.active{
    i{background-image: url('../images/icon-layer-normal-active.svg');}
  }
}

.btn-layer-satellite{
  &.active{
    i{background-image: url('../images/icon-layer-satellite-active.svg');}
  }
}

.btn-here{
  margin-top: 40px;
  &.active{
    i{background-image: url('../images/icon-here-on.svg');}
  }
}

.map-bottom{
  color: #000;
  .location{
    background-color: rgba(255,255,255,.6);border-radius: 10rem;height: 36px;line-height: 36px;display: inline-block;padding: 0 1.25rem;z-index: 999;
    position: absolute;left: 50%;bottom: 12px;transform: translateX(-50%);
  }
  .scale-wrap{
    position: absolute;right: 12px;bottom: 12px;z-index: 999;
  }
  .scale{
    display: flex;align-items: center;justify-content: flex-end;
    i{margin-left: .5rem;}
  }
}

.btn-gegorup-display{
  &.active{
    i{background-image: url('../images/icon-eye-on.svg');}
  }
}

.geofence-option-btns{
  margin-bottom: .75rem;
  button{
    display: flex;width: 100%;align-items: center;height: 48px;
    i{margin-right: .5rem;}
  }
}

.user-info-in-modal{
  padding: 1rem 1.5rem;border-top: 1px solid rgba(255, 255, 255, 0.1);
  p{color: #757575;}
  .table-wrap{margin-top: 5px;}
  .table{
    tbody{
      th,
      td{padding: 3px 0;color: #fff;border: 0;font-size: 12px;}
    }
  }
}

.table-wrap{
  border-top: 1px solid rgba(255, 255, 255, 0.1);border-bottom: 1px solid rgba(255,255,255,.1);padding: .75rem 0;margin-top: 1rem;
}

.route-guide{
  font-size: 12px;color: $GRAY_LIGHT_COLOR;border-top: 1px solid rgba(255,255,255,.1);padding: .75rem 0 0;margin-top: 1rem;
}

.gis-tooltip-group-name{
  display: inline-block;background: #8B37D0;border-radius: 4px;padding: .5rem;
  span{color: #fff;font-size: 14px;font-weight: 700;line-height: 16px;}
}

.gis-tooltip-header{
  display: flex;align-items: center;justify-content: space-between;padding: 0 .5rem;padding-bottom: 10px;
  .gis-tooltip-title{font-size: 16px;font-weight: 700;color: #000;}
  .btn-close{background-image: url('../images/icon-x-dark.svg');}
}
.gis-tooltip{
  background: #fff;border: 1px solid $PRIMARY_COLOR;border-radius: 1.5rem;padding: 1rem;width: 300px;
  .menu{
    padding: 0 .5rem;
    li{
      height: 48px;display: flex;width: 100%;
      a{
        flex-grow: 1;display: flex;height: 100%;align-items: center;vertical-align: top;
        i{margin-right: .5rem;width: 24px;height: 24px;transform: translateY(-1px);flex: 0 0 24px;}
        span{display: block;word-break: break-all;color: #000;line-height: 1.2;}
      }
      button{
        flex: 0 0 auto;margin-left: .5rem;
      }
    }
  }
}

.location-sharing{
  display: flex;align-items: center;
  .address{flex-grow: 1;color: #000;}
  button{flex: 0 0 auto;margin-left: .5rem;}
}

.address-search-result{
  li + li{border-top: 1px solid #DADADA;}
  a{
    display: flex;align-items: center;padding: 10px 0;
    .address{color: #696969;flex-grow: 1;}
    .distance{color: $PRIMARY_COLOR;flex: 0 0 auto;margin-left: 1rem;}
  }
}

#modal-address-search-result{
  &.show{
    & ~ .modal-backdrop{display: none;}
  }
}

.ol-scale-line{
  right: 12px;left: auto;bottom: 12px;background: #fff;
}
.ol-scale-line-inner{
  font-size: 14px;color: #000;
}