[class^=icon-]{
  display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;
  &.size-16px{width: 16px;height: 16px;}
  &.size-24px{width: 24px;height: 24px;}
  &.size-32px{width: 32px;height: 32px;}
}

//circle type
.icon-profile{width: 36px;height: 36px; background-image: url('../images/icon-profile.svg');}
.icon-circle-group{width: 34px;height: 34px; background-image: url("../images/icon-circle-group.svg");}
.icon-circle-private{width: 34px;height: 34px; background-image: url('../images/icon-circle-private.svg');}
.icon-circle-private-connecting{width: 34px;height: 34px; background-image: url('../images/icon-circle-private-connecting.svg');}

//header
.icon-wave{width:14px;height:14px;background-image: url('../images/icon-wave.svg');}


//sidebar
.icon-group{width: 24px;height: 24px; background-image: url('../images/icon-sidebar-group.svg');}
.icon-person{width: 24px;height: 24px; background-image: url('../images/icon-sidebar-person.svg');}
.icon-chat{width: 24px;height: 24px; background-image: url('../images/icon-sidebar-chat.svg');}
.icon-history{width: 24px;height: 24px; background-image: url('../images/icon-sidebar-history.svg');}
.icon-gear{width: 24px;height: 24px; background-image: url('../images/icon-sidebar-gear.svg');}

//top functions area
.icon-sort{width: 18px;height: 18px; background-image: url('../images/icon-sort.svg');}
.icon-map{width: 20px;height: 20px; background-image: url('../images/icon-map.svg');}
.icon-dashboard{width: 20px;height: 20px; background-image: url('../images/icon-dashboard.svg');}

.icon-close{ width: 16px; height: 16px; background-image: url('../images/icon-close.svg');}

//in card
.icon-speaker-off{width:16px;height:16px;background-image: url('../images/icon-speaker-off.svg');}
.icon-call-menu{width: 42px; height: 42px; background-image: url('../images/icon-call-menu.svg');}
.icon-favorites{width: 24px; height: 24px; background-image: url('../images/icon-favorites-off.svg');}
.icon-favorites-on{width: 24px; height: 24px; background-image: url('../images/icon-favorites-on.svg');}
.icon-cancel{width: 24px;height: 24px;background-image: url('../images/icon-cancel.svg');}
.icon-add{width: 24px;height: 24px;background-image: url('../images/icon-add.svg');}
.icon-remove{width: 16px;height: 16px;background-image: url('../images/icon-remove.svg');}

.icon-in{width: 12px;height: 11px;background-image: url('../images/icon-in.svg');}
.icon-out{width: 12px;height: 11px;background-image: url('../images/icon-out.svg');}
.icon-regroup-sm{width: 10px;height: 10px;background-image: url('../images/icon-regroup-sm.svg');}
.icon-patch-sm{width: 10px;height: 10px;background-image: url('../images/icon-patch-sm.svg');}



//operations
.icon-search{width:20px;height:20px;background-image: url('../images/icon-search.svg');}
.icon-plus{width:20px;height:20px;background-image: url('../images/icon-plus.svg');}
.icon-detail-back{width: 40px; height: 40px; background-image: url('../images/icon-detail-back.svg');}
.icon-add-more{width: 48px; height: 48px; background-image: url('../images/icon-add-more.svg');}
.icon-send{width: 24px; height: 24px; background-image: url('../images/icon-send.svg');}
.icon-logout{width: 20px; height: 22px; background-image: url('../images/icon-logout.svg');}
.icon-edit{width: 20px; height: 20px; background-image: url('../images/icon-edit.svg');}
.icon-filter{width: 20px; height: 20px; background-image: url('../images/icon-filter.svg');}
.icon-trash{width: 24px; height: 24px; background-image: url('../images/icon-trash.svg');}
.icon-file{width: 24px; height: 21px; background-image: url('../images/icon-file.svg');}
.icon-attach{width: 32px; height: 32px; background-image: url('../images/icon-attach.svg');}



.icon-voice{width: 24px;height: 24px; background-image: url("../images/icon-voice.svg");}
.icon-voice-change{width: 24px;height: 24px; background-image: url("../images/icon-voice-change.svg");}
.icon-video{width: 24px;height: 24px; background-image: url("../images/icon-video.svg");}
.icon-video-change{width: 24px;height: 24px; background-image: url("../images/icon-video-change.svg");}
.icon-download{width: 24px;height: 24px; background-image: url("../images/icon-download.svg");}
.icon-message{width: 24px;height: 24px; background-image: url("../images/icon-message.svg");}
.icon-emergency{width: 24px;height: 24px; background-image: url("../images/icon-emergency.svg");}
.icon-emergency-white{width: 24px;height: 24px; background-image: url("../images/icon-emergency-white.svg");}
.icon-emergency-voice{width: 24px;height: 24px; background-image: url("../images/icon-emergency-voice.svg");}
.icon-emergency-video{width: 24px;height: 24px; background-image: url("../images/icon-emergency-video.svg");}
.icon-broadcast{width: 24px;height: 24px; background-image: url("../images/icon-broadcast.svg");}
.icon-people{width: 24px;height: 24px; background-image: url("../images/icon-people.svg");}
.icon-info{width: 24px;height: 24px; background-image: url("../images/icon-info.svg");}
.icon-end{width: 24px;height: 24px; background-image: url("../images/icon-end.svg");}
.icon-end-emergency{width: 24px;height: 24px; background-image: url("../images/icon-end-emergency.svg");}
.icon-call-change{width: 24px;height: 24px; background-image: url("../images/icon-call-change.svg");}
.icon-adhoc{width: 24px;height: 24px; background-image: url("../images/icon-adhoc.svg");}
.icon-listening{width: 24px;height: 24px; background-image: url("../images/icon-listening.svg");}

.icon-eye-on{width: 24px;height: 24px; background-image: url('../images/icon-eye-on.svg');}
.icon-eye-off{width: 24px;height: 24px; background-image: url('../images/icon-eye-off.svg');}
.icon-input-x{width: 24px;height: 24px; background-image: url('../images/icon-input-x.svg');}

.icon-speaker{width:24px;height:24px;background-image: url('../images/icon-speaker.svg');}
.icon-mic{width:24px;height:24px;background-image: url('../images/icon-mic.svg');}

//gis
.icon-marker-blue{width: 20px;height: 20px;background-image: url('../images/marker.svg');}
.icon-marker{width:50px;height:50px;background-image: url('../images/icon-marker.svg');}
.icon-device-off{width: 28px;height: 28px;background-image: url('../images/icon-device-off.svg');}
.icon-device-on{width: 28px;height: 28px;background-image: url('../images/icon-device-on.svg');}
.icon-geofence{width: 18px;height: 18px;background-image: url('../images/icon-geofence.svg');}
.icon-layer{width: 22px;height: 19px;background-image: url('../images/icon-layer.svg');}
.icon-layer-normal{width: 20px;height: 18px;background-image: url('../images/icon-layer-normal.svg');}
.icon-layer-satellite{width: 22px;height: 23px;background-image: url('../images/icon-layer-satellite.svg');}
.icon-cctv{width: 22px;height: 22px;background-image: url('../images/icon-cctv.svg');}
.icon-zoom-in{width: 16px;height: 16px;background-image: url('../images/icon-zoom-in.svg');}
.icon-zoom-out{width: 16px;height: 16px;background-image: url('../images/icon-zoom-out.svg');}
.icon-here-off{width: 22px;height: 22px;background-image: url('../images/icon-here-off.svg');}
.icon-refresh{width: 18px;height: 18px;background-image: url('../images/icon-refresh.svg');}
.icon-map-scale{width: 60px;height: 12px;background-image: url('../images/icon-map-scale.svg');}
.icon-geogroup{
  width: 28px;height: 28px;background-image: url('../images/icon-device-off.svg');
  &.active{background-image: url('../images/icon-device-on.svg');}
}
.icon-more-white{width: 24px;height: 24px;background-image: url('../images/icon-more-white.svg');}

/*
.icon-person-group{width: 36px;height: 36px; background-image: url('../images/icon-person-group.svg');}
.icon-person{width: 36px;height: 36px; background-image: url('../images/icon-person.svg');}
.icon-chat{width: 36px;height: 36px; background-image: url('../images/icon-chat.svg');}
.icon-update{width: 36px;height: 36px; background-image: url('../images/icon-update.svg');}

.icon-memory{width:30px;height:30px;background-image: url('../images/icon-memory.svg');}
.icon-patch{width:36px;height:36px;background-image: url('../images/icon-patch.svg');}

.icon-alarm-emergency{width:20px;height:20px;background-image: url('../images/icon-alarm-emergency.svg');}
.icon-warning{width:20px;height:20px;background-image: url('../images/icon-warning.svg');}
.icon-horn{width:20px;height:20px;background-image: url('../images/icon-horn.svg');}

.icon-speaker{width:28px;height:28px;background-image: url('../images/icon-speaker.svg');}
.icon-mic{width:28px;height:28px;background-image: url('../images/icon-mic.svg');}
.icon-mic-off{width:28px;height:28px;background-image: url('../images/icon-mic-off.svg');}


.icon-more{ width: 30px; height: 6px; background-image: url('../images/icon-more.svg');}
.icon-subtract{ width: 26px; height: 32px; background-image: url('../images/icon-subtract.svg');}

.icon-fold{width: 40px; height: 40px; background-image: url('../images/icon-fold.svg');}

.icon-calendar{width: 24px; height: 21px; background-image: url('../images/icon-calendar.svg');}

.icon-delete{width: 48px; height: 48px; background-image: url('../images/icon-delete.svg');}
 */