[class^=icon-]{
  display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;
}

.icon-hamburger{width: 50px;height: 50px; background-image: url('../images/icon-hamburger.svg');}
.icon-person-group{width: 48px;height: 48px; background-image: url('../images/icon-person-group.svg');}
.icon-person{width: 48px;height: 48px; background-image: url('../images/icon-person.svg');}
.icon-chat{width: 48px;height: 48px; background-image: url('../images/icon-chat.svg');}
.icon-update{width: 48px;height: 48px; background-image: url('../images/icon-update.svg');}
.icon-gear{width: 48px;height: 48px; background-image: url('../images/icon-gear.svg');}
.icon-plus{width:18px;height:18px;background-image: url('../images/icon-plus.svg');}

.icon-search{width:20px;height:20px;background-image: url('../images/icon-search.svg');}

.icon-marker{width:50px;height:50px;background-image: url('../images/icon-marker.svg');}
.icon-memory{width:30px;height:30px;background-image: url('../images/icon-memory.svg');}
.icon-patch{width:48px;height:48px;background-image: url('../images/icon-patch.svg');}
.icon-group{width:48px;height:48px;background-image: url('../images/icon-group.svg');}
.icon-emergency{width:50px;height:50px;background-image: url('../images/icon-emergency.svg');}
.icon-ptt{width:31px;height:46px;background-image: url('../images/icon-ptt.svg');}
.icon-broadcast{width:42px;height:42px;background-image: url('../images/icon-broadcast.svg');}

.icon-alarm-emergency{width:20px;height:20px;background-image: url('../images/icon-alarm-emergency.svg');}
.icon-warning{width:20px;height:20px;background-image: url('../images/icon-warning.svg');}
.icon-horn{width:20px;height:20px;background-image: url('../images/icon-horn.svg');}
.icon-phone{width:20px;height:20px;background-image: url('../images/icon-phone.svg');}
.icon-message{width:20px;height:20px;background-image: url('../images/icon-message.svg');}

.icon-profile{width:43px;height:42px;background-image: url('../images/icon-profile.svg');}
.icon-profile-active{width:48px;height:48px;background-image: url('../images/icon-profile-active.svg');}

.icon-speaker{width:28px;height:28px;background-image: url('../images/icon-speaker.svg');}
.icon-speaker-off{width:28px;height:28px;background-image: url('../images/icon-speaker-off.svg');}
.icon-mic{width:28px;height:28px;background-image: url('../images/icon-mic.svg');}
.icon-mic-off{width:28px;height:28px;background-image: url('../images/icon-mic-off.svg');}

.icon-phone-gray{width:22px;height:21px;background-image: url('../images/icon-phone-gray.svg');}


.icon-call{width:36px;height:36px;background-image: url('../images/icon-call-off.svg');}
.icon-call-off{width:36px;height:36px;background-image: url('../images/icon-call-off.svg');}
.icon-call-on{width:36px;height:36px;background-image: url('../images/icon-call.svg');}
.icon-favorites{width: 36px; height: 36px; background-image: url('../images/icon-favorites-off.svg');}
.icon-favorites-on{width: 36px; height: 36px; background-image: url('../images/icon-favorites-on.svg');}
.icon-video{width: 35px; height: 35px; background-image: url('../images/icon-card-video.svg');}

.icon-setting-update{ width: 24px; height: 24px; background-image: url('../images/icon-setting-update.svg');}
.icon-close{ width: 40px; height: 40px; background-image: url('../images/icon-close.svg');}

.icon-more{ width: 30px; height: 6px; background-image: url('../images/icon-more.svg');}
.icon-subtract{ width: 26px; height: 32px; background-image: url('../images/icon-subtract.svg');}
.icon-graph{ width: 36px; height: 30px; background-image: url('../images/icon-graph.svg');}
.icon-graph-off{ width: 46px; height: 35px; background-image: url('../images/icon-graph-off.svg');}

.icon-call-mic{width: 64px; height: 64px; background-image: url('../images/icon-call-mic.svg');}
.icon-call-fishing{width: 64px; height: 64px; background-image: url('../images/icon-call-fishing.svg');}
.icon-call-end{width: 64px; height: 64px; background-image: url('../images/icon-call-end.svg');}
.icon-call-menu{width: 64px; height: 64px; background-image: url('../images/icon-call-menu.svg');}

.icon-card-video-on{width: 36px; height: 36px; background-image: url('../images/icon-card-video-on.svg');}
.icon-card-video-off{width: 36px; height: 36px; background-image: url('../images/icon-card-video-off.svg');}

.icon-edit{width: 48px; height: 48px; background-image: url('../images/icon-edit.svg');}
.icon-fold{width: 40px; height: 40px; background-image: url('../images/icon-fold.svg');}
.icon-detail-back{width: 40px; height: 40px; background-image: url('../images/icon-detail-back.svg');}

.icon-calender{width: 24px; height: 21px; background-image: url('../images/icon-calender.svg');}
.icon-search-btn{width: 48px; height: 48px; background-image: url('../images/icon-search-btn.svg');}

.icon-delete{width: 48px; height: 48px; background-image: url('../images/icon-delete.svg');}
.icon-add-more{width: 48px; height: 48px; background-image: url('../images/icon-add-more.svg');}
.icon-file{width: 36px; height: 36px; background-image: url('../images/icon-file.svg');}