[class^=icon-]{
  display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;
}

.icon-hamburger{width: 30px;height: 30px; background-image: url('../images/icon-hamburger.svg');}
.icon-person-group{width: 30px;height: 30px; background-image: url('../images/icon-person-group.svg');}
.icon-person{width: 30px;height: 30px; background-image: url('../images/icon-person.svg');}
.icon-chat{width: 30px;height: 30px; background-image: url('../images/icon-chat.svg');}
.icon-update{width: 30px;height: 30px; background-image: url('../images/icon-update.svg');}
.icon-gear{width: 30px;height: 30px; background-image: url('../images/icon-gear.svg');}


.icon-search{width:30px;height:30px;background-image: url('../images/icon-search.svg');}

.icon-marker{width:30px;height:30px;background-image: url('../images/icon-marker.svg');}
.icon-memory{width:30px;height:30px;background-image: url('../images/icon-memory.svg');}
.icon-group{width:30px;height:30px;background-image: url('../images/icon-group.svg');}
.icon-emergency{width:30px;height:30px;background-image: url('../images/icon-emergency.svg');}
.icon-ptt{width:30px;height:30px;background-image: url('../images/icon-ptt.svg');}
.icon-broadcast{width:30px;height:30px;background-image: url('../images/icon-broadcast.svg');}

.icon-alarm-emergency{width:20px;height:20px;background-image: url('../images/icon-alarm-emergency.svg');}
.icon-warning{width:20px;height:20px;background-image: url('../images/icon-warning.svg');}
.icon-horn{width:20px;height:20px;background-image: url('../images/icon-horn.svg');}
.icon-phone{width:20px;height:20px;background-image: url('../images/icon-phone.svg');}
.icon-message{width:20px;height:20px;background-image: url('../images/icon-message.svg');}

.icon-profile{width:43px;height:42px;background-image: url('../images/icon-profile.svg');}

.icon-speaker{width:28px;height:28px;background-image: url('../images/icon-speaker.svg');}
.icon-speaker-off{width:28px;height:28px;background-image: url('../images/icon-speaker-off.svg');}
.icon-mic{width:28px;height:28px;background-image: url('../images/icon-mic.svg');}
.icon-mic-off{width:28px;height:28px;background-image: url('../images/icon-mic-off.svg');}

.icon-phone-gray{width:22px;height:21px;background-image: url('../images/icon-phone-gray.svg');}

// 두개다 off 상태 icon-call-on, icon-favorties-on 따로 지정
.icon-call{width:36px;height:36px;background-image: url('../images/icon-call-off.svg');}
.icon-favorites{width: 36px; height: 36px; background-image: url('../images/icon-favorites-off.svg');}
.icon-video{width: 35px; height: 35px; background-image: url('../images/icon-card-video.svg');}