//font
$FONT_FAMILY: "SamsungOne", system-ui, -apple-system, Roboto, sans-serif !default;
$FONT_SIZE: 16px !default;
$BODY_COLOR: #fff !default;
$LINK_COLOR: $BODY_COLOR !default;
$LINE_HEIGHT: 1.44 !default;

//bg
$BDOY_BACKGROUND: #000 !default;

//color
$PRIMARY_COLOR: #3674ec !default;
$GRAY_COLOR: #9b9fa4 !default;

//layout
$HEADER_HEIGHT: 120px !default;
$SIDEBAR_WIDTH: 120px !default;

//breakpoint
$BREAKPOINT_LARGE: 1440px !default;
$BREAKPOINT_XLARGE: 1600px !default;