//font
$FONT_FAMILY: "SamsungOne", system-ui, -apple-system, Roboto, sans-serif !default;
$FONT_SIZE: 14px !default;
$BODY_COLOR: #fff !default;
$LINK_COLOR: $BODY_COLOR !default;
$LINE_HEIGHT: 1.44 !default;

//bg
$BDOY_BACKGROUND: #000 !default;

//color
$PRIMARY_COLOR: #3e91ff !default;
$DANGER_COLOR: #ed2214 !default;
$GRAY_COLOR: #9b9fa4 !default;
$GRAY_LIGHT_COLOR: #b2b2b2 !default;

//layout
$HEADER_HEIGHT: 72px !default;
$SIDEBAR_WIDTH: 100px !default;
$SIDEBAR_WIDTH_LG: 100px !default;

//common
$BORDER_COLOR: #2D2E30 !default;

//breakpoint
$BREAKPOINT_LARGE: 1440px !default;
$BREAKPOINT_XLARGE: 1600px !default;

//bootstrap
$enable-negative-margins: true !default;
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.25,
  5: $spacer * 1.5,
  6: $spacer * 3,
) !default;