.form-control {
  display: block;
  width: 100%;
  min-width: 170px;
  padding: 12px 1rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #3a3c3e;
  border-radius: 50rem;
  border: 1px solid #000;
  height: 40px;

  &:focus {
    outline: 0;
  }

  &[disabled] {
    color: #535353;
  }

  &[data-picker="date"]{
    background-image: url('../images/icon-calendar.svg');
    background-position: right 20px top 50%;
    background-repeat: no-repeat;
  }

  &.flat{
    border-radius: 4px;
  }
}

.textarea {
  border: 1px solid #000;
  border-radius: 4px;
  background: #3a3c3e;
  padding: .75rem 1rem;
  display: flex;
  flex-direction: column;
  transition: border-color 0.15s ease-in-out;
  .byte {
    text-align: right;
    font-size: 12px;
    line-height: 1.6666;
    color: rgba(255,255,255,.4);
    margin-top: .25rem;
  }
}
textarea {
  &.form-control {
    height: auto;
    border: 0;
    border-radius: 0;
    padding: 0;
    background: transparent;
    flex-grow: 1;
    width: 100%;
    &:focus-visible {
      outline: 0;
    }
  }
}
