.btn {
  display: inline-block;
  padding: .375rem .75rem;
  font-family: $FONT_FAMILY;
  font-size: $FONT_SIZE;
  font-weight: 400;
  line-height: $LINE_HEIGHT;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: .5rem;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:focus-visible {
  outline: 0;
  box-shadow: none;
}


.btn-primary {
  color: #fff;
  background-color: $PRIMARY_COLOR;
  border-color: $PRIMARY_COLOR;
}

.btn-white {
  color: #000;
  background-color: #fff;
}

.btn-light {
  color: #000;
  background-color: #999;
}

.btn-dark {
  color: #fff;
  background-color: #000;
}

.btn-outline-primary {
  color: $PRIMARY_COLOR;
  border-color: $PRIMARY_COLOR;
}

.btn-outline-white {
  color: #fff;
  border-color: #fff;
}

.btn-outline-light {
  color: #999;
  border-color: #999;
}

.btn-link {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}
.btn-link:focus-visible {
  color: var(color);
}