.toast{
  height: 32px;position: fixed;left: 0;top: $HEADER_HEIGHT;right: 0;z-index: 2000;
  color: #fff;font-size: 14px;display: flex;align-items: center;justify-content: space-between;padding: 0 1.5rem;opacity: 0;visibility: hidden;transition: opacity .5s ease;
  p{max-width: 440px;margin: 0 auto;}
  .toast-icon{width: 24px;height: 24px;background-repeat: no-repeat;background-position: 0 0;background-size: contain;}
  &[data-toast-type="success"]{
    background: rgba(62, 145, 255, .9);
    .toast-icon{background-image: url('../images/icon-toast-info.svg');}
  }
  &[data-toast-type="error"]{
    background: rgb(230, 95, 61, .9);
    //.toast-icon{background-image: url('../images/icon-toast-error.svg');}
  }
  &.show{display: flex;opacity: 1;visibility: visible;}
}