$checkbox-width: 1.125rem;

/* checkbox/radio */
.form-check-wrap{
  display: flex; gap: 1rem;
}
.form-check {
  display: block;
  min-height: $checkbox-width;
  padding-left: 1.5rem;
  line-height: 1.25;
  .form-check-input {
    float: left;
    margin-left: -1.5rem;
  }
  &.label-empty{
    padding-left: 0;
    .form-check-input{
      margin-left: 0;
      margin-top: 0;
    }
  }
}

.form-check-label{line-height: 1.25;}

.form-check-input {
  width: $checkbox-width;
  height: $checkbox-width;
  //margin-top: 2px;
  vertical-align: top;
  //background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  appearance: none;

  &[type="checkbox"] {
    border: 0;
    background-image: url('../images/checkbox.svg');
    background-color: transparent;
  }

  &[type="radio"] {
    background-image: url('../images/radio.svg');
  }

  &:checked {
    //background-color: $PRIMARY_COLOR;
    //border-color: $PRIMARY_COLOR;

    &[type="checkbox"] {
      background-image: url('../images/checkbox-checked.svg');
    }

    &[type="radio"] {
      background-image: url('../images/radio-checked.svg');
    }
  }

  .flat &[type="checkbox"] {
    width: 1rem;height: 1rem;transform: translateY(.08em);
    background-image: url('../images/checkbox-flat.svg');
    &:checked{
      background-image: url('../images/checkbox-flat-checked.svg');
    }
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: .5;
  }

  &[disabled],
  &:disabled {
    ~ .form-check-label {
      opacity:.5;
    }
  }
}

/* switch */
.form-switch {
  padding-left: 42px;

  .form-check-input {
    width: 42px;
    height: 24px;
    margin-left: -42px;
    background-color: #2a2c2e;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 3em;
    border: 1px solid #505459;
    transition: background-position 0.15s ease-in-out;
    cursor: pointer;

    &:checked {
      background-position: right center;
      background-color: $PRIMARY_COLOR;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }
  }

  &.label-empty{
    padding-left: 48px;
    .form-check-input{
      margin-left: -48px;
      margin-top: 0;
    }
  }
}

.form-check-inline {
  display: inline-block;
  vertical-align: middle;
}