
.form-control {
    display: block;
    width: 100%;
    min-width: 170px;
    padding: 13px 33px 13px 15px;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #33363a;
    border-radius: 4px;
    border:0;
  
    &:focus {
      outline: 0;
    }
  
    &:disabled {
      background-color: #e9ecef;
    }
  }
  