.btn {
  display: inline-block;
  padding: 9.5px 1rem 7.5px;
  height: 40px;
  font-family: $FONT_FAMILY;
  font-size: $FONT_SIZE;
  font-weight: 700;
  line-height: $LINE_HEIGHT;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  min-width: 100px;
  text-align: center;
}

.btn:focus-visible {
  outline: 0;
  box-shadow: none;
}


.btn-primary {
  color: #fff;
  background-color: $PRIMARY_COLOR;
  border-color: $PRIMARY_COLOR;
}

.btn-white {
  color: #000;
  background-color: #fff;
}

.btn-light {
  color: #000;
  background-color: #999;
}

.btn-gray{
  background: #54595f;
}

.btn-dark {
  color: #fff;
  background-color: #000;
}

.btn-outline-primary {
  color: $PRIMARY_COLOR;
  border-color: $PRIMARY_COLOR;
}

.btn-outline-white {
  color: #fff;
  border-color: #fff;
}

.btn-outline-light {
  color: #fff;
  border-color: #999;
}

.btn-link {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}
.btn-link:focus-visible {
  color: var(color);
}

.btn-flat{
  border-radius: 0;
}