.status-regroup{display: inline-block;background-image: url('../images/icon-status-regroup.svg');width: 24px;height: 24px;background-position: 50% 50%;background-repeat: no-repeat;background-size: contain;}
.status-patch{display: inline-block;background-image: url('../images/icon-status-patch.svg');width: 24px;height: 24px;background-position: 50% 50%;background-repeat: no-repeat;background-size: contain;}
.status-broadcast{display: inline-block;background-image: url('../images/icon-status-broadcast.svg');width: 24px;height: 24px;background-position: 50% 50%;background-repeat: no-repeat;background-size: contain;}


.card{
  background: #1f1f20;border-radius: 5px;width: 100%;aspect-ratio: 210 / 280; position: relative;display: flex;flex-direction: column;
  @supports not (aspect-ratio: 210 / 280) {
    &::before { float: left; padding-top: 130.33333%; content: ""; }
    &::after { display: block; content: ""; clear: both; }
  }

  &.selected{
    //border-color: $PRIMARY_COLOR;
    outline: 2px solid $PRIMARY_COLOR;
    //&::after{content: '';position: absolute;left: -2px;top: -2px;right: -2px;bottom: -2px;border: 2px solid $PRIMARY_COLOR;border-radius: 8px;}
  }

  .card-header{
    display: flex;justify-content: space-between;border-radius: 6px 6px 0 0;overflow: hidden;
    padding: 8px 11px;position: relative;z-index: 1;margin: 0 6px;
    background: url('../images/bg-card-line.svg') no-repeat 0 27px;
    [class^=icon-]{width: 16px;height: 16px;}
  }

  .card-body{
    padding: 6px 1rem;flex-grow: 1;border-radius: 0 0 6px 6px;overflow: hidden;
  }

  .status{
    display: flex;align-items: center;gap: 6px;
    .status-icon{width: 28px;height: 28px;flex: 0 0 28px}
  }

  .status-aside{
    display: flex;gap: 4px;
    > *{width: 16px;height: 16px;}
    button{
      i{vertical-align: top;}
    }
  }

  .info{
    position: relative;z-index: 1;text-shadow: 1px 1px 2px rgba(0,0,0,0.5);height: 85px;
  }
  .group-name{
    font-weight: 700;line-height: 1.25; margin-bottom: 4px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;white-space: normal; -webkit-line-clamp: 2;-webkit-box-orient: vertical;max-height: 2.5em; font-size: 16px;
  }
  .user-name{
    color: #fff;font-size: 12px;font-weight: 400;text-overflow: initial;white-space: normal;
  }
  .badge{margin-top: .5rem;}
  .pttid{color: rgba(255, 255, 255, .25);text-align: center;}
  .groups{color: #fff;font-size: 10px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
  .info-middle{margin-top: .5rem;}

  .video-area{
    position: absolute;left: 0;top: 0;right: 0;bottom: 0;
    video{
      width: 100%;height: 100%;position: absolute;left: 0;top: 0;object-fit: cover;
      &[poster]{
        width: 100%;height: 100%;
      }
    }
  }

  .btns{
    width: 100%; display: flex; justify-content: center;align-items: center; position: absolute; left:0; bottom: 0;display: none;border-radius: 0 0 14px 14px;overflow: hidden;
    padding: 0 1rem .5rem;
    button{display: inline-block;vertical-align: top;}
    > div{
      text-align: center;
      button{
        svg{margin: 0 auto;}
      }
    }
    .btn-call-end{
      display: none;
    }
    .btn-call-speaking{
      width: 68px;
    }
    .btn-card-menu{
      position: absolute;right: 15px;bottom: 21px;
    }
  }

  //통화중
  &[data-state="communication"],
  &[data-ambient="Y"]{
    background: #393b3f;
  }

  //개인 통화
  &[data-private="Y"]{
    .status-private{display: block;}
  }

  //리그룹
  &[data-regroup="Y"]{
    .status-regroup{display: block;}
  }

  //패치
  &[data-patch="Y"]{
    .status-patch{display: block;}
  }

  //브로드캐스트
  &[data-broadcast="Y"]{
    .status-broadcast{display: block;}
  }

  //비상통화
  &[data-emergency="Y"]{
    .status-emergency{display: block;}
  }
}

.svg-voice,
.svg-video,
.svg-intercept{display: none;}

//대기
/* [data-state="standby"]{

} */

//통화중
[data-state="communication"]{
  .btns{display: flex;}
  .svg-fill{fill: $PRIMARY_COLOR;}
  &.btn-ptt{border-color: $PRIMARY_COLOR;}
  //나 발언중
  &[data-speaking="me"]{
    .info{
      .user-name{
        &::before{content: '';display: inline-block;vertical-align: middle;background: url('../images/icon-out.svg') no-repeat 50% 50%;background-size: contain;width: 16px;height: 16px;margin-right: .5rem;}
      }
    }
    .svg-fill{fill: #35cd3c;}
    &.btn-ptt{border-color: #35cd3c !important;}
    .btns{
      background: url('../images/bg-gradation-send.png') no-repeat 50% 100%;
    }
  }

  //타인 발언중
  &[data-speaking="other"]{
    .info{
      .user-name{
        &::before{content: '';display: inline-block;vertical-align: middle;background: url('../images/icon-in.svg') no-repeat 50% 50%;background-size: contain;width: 16px;height: 16px;margin-right: .5rem;}
      }
    }
    &.btn-ptt{border-color: #ff7a23 !important;}
    .svg-fill{fill: #ff7a23;}
    &[data-intercept="Y"]{
      .svg-voice,
      .svg-video{display: none;}
      .svg-intercept{display: block;}
      .svg-fill{fill: #ff7a23;}
    }
  }
}

//ambient listening
[data-ambient="Y"]{
  .btns{
    display: flex;background: none !important;
    .btn-call-speaking{display: none;}
    .btn-call-end{display: block;}
  }
}

//음성 통화
[data-call-type="voice"]{
  .svg-voice{display: block;}
}

//영상 통화
[data-call-type="video"]{
  .svg-video{display: block;}
}

.top-bar{
  background: $PRIMARY_COLOR;height: 48px;width: 100%;position: absolute;left: 0;top: 0;z-index: 1;display: none;
  padding: 0 1.5rem 0 3.25rem;align-items: center;justify-content: space-between;
  &.show{
    display: flex;
  }
  .btn-top-bar-close{position: absolute;left: 1.5rem;top: 50%;transform: translateY(-50%);}
  .selected-item-length{font-weight: 700;}
  .functions{
    a{
      display: inline-flex;align-items: center;vertical-align: middle;
      i{margin-right: 5px;}
    }
    a + a{margin-left: 1.75rem;}
  }
}

.group-list{
  display: flex;flex-wrap: wrap;margin: -.5rem 1rem;padding-top: 2px;
  //display: grid;grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));grid-gap: 10px;padding: 2px 1.5rem;
  .item{
    width: 100%;padding: .5rem;
    @media(min-width: 528px){
      width: 50%;
    }
    @media(min-width: 726px){
      width: 33.333333%;
    }
    @media(min-width: 924px){
      width: 25%;
    }
    @media(min-width: 1122px){
      width: 20%;
    }
    @media(min-width: 1320px){
      width: 16.666666%;
    }
    @media(min-width: 1518px){
      width: 14.285714%;
    }
    @media(min-width: 1716px){
      width: 12.5%;
    }
    @media(min-width: 1914px){
      width: 11.11111%;
    }
    @media(min-width: 2112px){
      width: 10%;
    }
    @media(min-width: 2310px){
      width: 9.09090909%;
    }
  }
  /* right open 열렸을 때 */
  @at-root{
    html[class^="is-"]{
      .group-list .item{
        width: 100%;
        @media(min-width: 908px){
          width: 50%;
        }
        @media(min-width: 1106px){
          width: 33.333333%;
        }
        @media(min-width: 1304px){
          width: 25%;
        }
        @media(min-width: 1502px){
          width: 20%;
        }
        @media(min-width: 1700px){
          width: 16.666666%;
        }
        @media(min-width: 1898px){
          width: 14.285714%;
        }
        @media(min-width: 2096px){
          width: 12.5%;
        }
        @media(min-width: 2294px){
          width: 11.11111%;
        }
        @media(min-width: 2492px){
          width: 10%;
        }
      }
    }
  }

  /* multiple selection checked */
  &.selectable{
    a,
    button{opacity: .48;}
    .status{
      .status-icon{opacity: 0;}
      &::before{content: '';display: inline-block;width: 24px;height: 24px;background: url('../images/checkbox.svg') no-repeat 0 0;background-size: contain;margin-left: 2px;}
    }
    .selected{
      .status{
        .status-icon{opacity: 0;}
        &::before{background-image: url('../images/checkbox-checked.svg');}
      }
    }
    .btns{
      &::after{content: '';display: block;position: absolute;left: 0;right: 0;bottom: 0;top: 0;}
    }
  }
}
