.toast{
  height: 60px;position: fixed;left: 0;bottom: 0;right: 0;z-index: 999;
  color: #fff;font-size: 14px ;display: flex;align-items: center;justify-content: space-between;padding: 0 1.5rem;
  p{max-width: 440px;margin: 0 auto;}
  .toast-icon{width: 24px;height: 24px;background-repeat: no-repeat;background-position: 0 0;background-size: contain;}
  &[data-toast-type="success"]{
    background: rgba(62, 145, 255, .9);
    .toast-icon{background-image: url('../images/icon-toast-info.svg');}
  }
  &[data-toast-type="error"]{
    background: rgba(255, 41, 27, .9);
    .toast-icon{background-image: url('../images/icon-toast-error.svg');}
  }
}