.spinner-border{
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: -.125em;
  border-radius: 50%;
  animation: .8s linear infinite spinner-border;
  border: 6px solid rgba(54, 116, 235, .9);
  border-right-color: #0000;
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}