.form-control {
  display: block;
  width: 100%;
  min-width: 170px;
  padding: 12px 1rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #3a3c3e;
  border-radius: 50rem;
  border: 1px solid #000;
  height: 40px;

  &:focus {
    outline: 0;
  }

  &[disabled] {
    color: #535353;
  }

  &[data-picker="date"]{
    background-image: url('../images/icon-calendar.svg');
    background-position: right 20px top 50%;
    background-repeat: no-repeat;
  }

  &.flat{
    border-radius: 4px;
  }
}
