#aside{
  width: $SIDEBAR_WIDTH;height: 100%;background: #161719;position: relative;border-left: 1px solid $BORDER_COLOR;
  button{
    width: $SIDEBAR_WIDTH;height: $SIDEBAR_WIDTH;
    span{display: block;font-size: 13px;font-weight: 700; line-height:24px; margin-top: 6px;}
    &[disabled]{opacity: .15;}
  }

  .call-menu{
    position: absolute;left: 0;right: 0;top: 50%;transform: translateY(-50%);
    .active{background: $PRIMARY_COLOR;}
  }

  .btn-menu{
    &.active ~ .menu-layer{
      opacity: 1;visibility: visible;
    }
  }
  .menu-layer{
    opacity: 0;visibility: hidden;transition: opacity .3s;
    border: 1px solid #676c72;background: #3f4246;border-radius: 8px;
    position: absolute;right: calc(100% + 1px);top: 15px; padding: 20px 15px;
    > button{width: 80px;height: 80px;position: relative; margin-bottom: 25px;
      &:last-child{margin-bottom:0;}
    }
    [data-is-new="true"]{
      i{
        position: relative;
        &::before{content: '';width: 8px;height: 8px;background: #de2424;border-radius: 50%;position: absolute;right: -4px;top: -4px;}
      }
    }
  }
  /* @media(min-width: 1025px){
    width: $SIDEBAR_WIDTH_LG;
    button{
      width: $SIDEBAR_WIDTH_LG;height: $SIDEBAR_WIDTH_LG;
    }
  } */
}

.call-type-switch {
  display: block;width: 64px;background: #000;height: 26px;border-radius: 40px;position: relative;line-height: 1;
  input {
    display: none;
  }
  div {
    display: block;width: 52px;height: 14px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);
  }
  i {
    display: block;width: 14px;height: 14px;position: absolute;background: #3e91ff;border-radius: 50%;top: 6px;left: 6px;transition: 0.25s;
  }
  input:checked ~ i {
    top: 6px;left: 44px;
  }
  input:checked + div > .off {
    color: transparent;
  }
  input:checked + div > .on {
    color: #B2B2B2;
  }
  &:hover {
    cursor: pointer;
  }
  &:focus, 
  &:active {
    outline: 0;
  }
  .on, .off {
    text-transform: uppercase;position: absolute;left: 2px;top: 50%;transform: translateY(-50%);font-size: 12px;font-weight: 400;z-index: 2; -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;transition: 0.25s;color: #B2B2B2;
  }  
  .on{color: transparent; }
  .off{left: initial;right: 2px;}
}
