#aside{
  flex: 0 0 $SIDEBAR_WIDTH; width: $SIDEBAR_WIDTH;height: 100%;background: #161719;position: relative;border-left: 1px solid $BORDER_COLOR;

  .operation-menu{
    $operation-btn-width: 60px;    
    text-align: center;padding: 1rem 0 1.5rem;
    &::after{content: '';display: block; width: 36px;height: 2px;background: #444;border-radius: 2px;margin: 1rem auto 0;}
    button{
      width: $operation-btn-width;height: $operation-btn-width;
      span{display: block;font-size: 12px;margin-top: 4px;color: #afafaf;}
      &[disabled]{opacity: .15;}
      & + button{margin-top: 10px;}
      @media(max-height: 640px){
        width: 50px;height: 50px;
      }
    }
    
    html.is-group &,
    html.is-group-detail &{
      [data-aside="group"]{
        i{background-image: url('../images/icon-sidebar-group-active.svg');}
        span{color: $PRIMARY_COLOR;}
      }
    }
    html.is-contacts &{
      [data-aside="contacts"]{
        i{background-image: url('../images/icon-sidebar-person-active.svg');}
        span{color: $PRIMARY_COLOR;}
      }
    }
    html.is-message &,
    html.is-message-detail &{
      [data-aside="message"]{
        i{background-image: url('../images/icon-sidebar-chat-active.svg');}
        span{color: $PRIMARY_COLOR;}
      }
    }
    html.is-log &{
      [data-aside="log"]{
        i{background-image: url('../images/icon-sidebar-history-active.svg');}
        span{color: $PRIMARY_COLOR;}
      }
    }
    html.is-settings &{
      [data-aside="settings"]{
        i{background-image: url('../images/icon-sidebar-gear-active.svg');}
        span{color: $PRIMARY_COLOR;}
      }
    }    
  }

  .call-menu{
    display: flex;flex-direction: column-reverse;align-items: center;
    .btn-ptt{
      border: 2px solid #afafaf;border-radius: 50rem;width: 70px;height: 146px;transition: .15s;
      @media(max-height: 640px){
        height: 105px;
      }
      .svg-ptt{transition: .15s;}
      &.active{
        border-color: $PRIMARY_COLOR;
        .svg-ptt-fill,
        .svg-camera-fill{fill: $PRIMARY_COLOR}
      }
      //.call-type-switch:
    }
    .call-type-switch{margin-top: 1rem;}
  }

  /* @media(min-width: 1025px){
    width: $SIDEBAR_WIDTH_LG;
    button{
      width: $SIDEBAR_WIDTH_LG;height: $SIDEBAR_WIDTH_LG;
    }
  } */
}

.sidebar-call-type {
  display: none;
  & + label{
    display: inline-block;width: 64px;background: #000;height: 26px;border-radius: 40px;position: relative;line-height: 1;
    &:hover {
      cursor: pointer;
    }
    &:focus, 
    &:active {
      outline: 0;
    }
    div {
      display: block;width: 52px;height: 14px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);
    }
    i {
      display: block;width: 14px;height: 14px;position: absolute;background: $PRIMARY_COLOR;border-radius: 50%;top: 6px;left: 6px;transition: 0.25s;
    }
    .on, .off {
      text-transform: uppercase;position: absolute;left: 2px;top: 50%;transform: translateY(-50%);font-size: 12px;font-weight: 400;z-index: 2; -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;transition: 0.25s;color: #B2B2B2;
    }  
    .on{color: transparent; }
    .off{left: initial;right: 2px;}
  }
  & ~ .btn-ptt{
    .svg-camera{display: none;}
  }
  &:checked ~ label {
    i{top: 6px;left: 44px;}
    .off {
      color: transparent;
    }
    .on {
      color: #B2B2B2;
    }
  }
  &:checked ~ .btn-ptt{
    .svg-ptt{display: none;}
    .svg-camera{display: inline-block;}
  }
}
