#header{
  height: $HEADER_HEIGHT; flex: 0 0 $HEADER_HEIGHT;background-color: #161719;width: 100%;border-bottom: 1px solid $BORDER_COLOR;
  position: fixed;z-index: 1;
  .container-fluid{height: 100%; border-bottom: 1px solid #27282a;}
  .inner{display: flex;align-items: center;justify-content: space-between;height: 100%;}
  .row.h-100{
    > .col,
    > .col-auto{
      height: 100%;display: flex;align-items: center;border-left: 1px solid $BORDER_COLOR;
      &:first-of-type{border-left: 0;}
    }
  }
}

.header-logo{
  margin: 0 1.5rem;border-left: 0;
  @media(max-width: 1024px) and (orientation: portrait){
    display: none;
  }
}

/* .header-controller{
  display: flex;padding-right: 1rem;
  @media (min-width: $BREAKPOINT_LARGE) {
    padding-right: 2rem;
  }
  @media (min-width: $BREAKPOINT_XLARGE) {
    padding-right: 5rem;
  }

  .controller{
    position: relative;
    &:hover{
      > button{z-index: 2;position: relative;}
      > .controller-layer{visibility: visible;opacity: 1;}
    }
    &.speaker{margin-right: 20px;}
    &[data-is-speaking="true"]{
      &::before{content: '';width: 14px;height: 9px;background: url('../images/icon-speaking.svg') no-repeat 0 0;background-size: contain;position: absolute;left: 50%;top: -13px;transform: translateX(-50%);}
    }
  }

  .controller-layer{
    width: 48px;background: rgba(0,0,0,.6);border-radius: 50rem;padding: 53px 0 20px; border: 1px solid rgba(255,255,255,.2);text-align: center;opacity: 0;visibility: hidden;transition: .25s;
    position: absolute;left: -10px;top: -16px;z-index: 1;
    input[type="range"]{
      -webkit-appearance: none;background: transparent;
      writing-mode: bt-lr;-webkit-appearance: slider-vertical;width: 100%;height: 120px;cursor: pointer;margin-bottom: 10px;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
      &:focus {
        outline: none;
      }
      &::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      &::-webkit-slider-thumb{
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        background: #fff;
        border: 3px solid dodgerblue;
        border-radius:50%;
        cursor: pointer;
      }
      &::-moz-range-thumb{
        -webkit-appearance: none;
        width:10px;
        height:10px;
        background: #fff;
        border: 1px solid dodgerblue;
        border-radius:50%;
        cursor: pointer;
      }
    }
  }
} */

.header-state-panel{
  border-radius: 50rem;display: flex;align-items: center;width: 500px;margin: 0 1.5rem;
  .info1{
    flex-grow: 1;margin-right: 2rem;min-width: 0;
    .group{font-size: 18px;font-weight: 700;line-height: 1;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100%;}
    .name{
      color: $GRAY_LIGHT_COLOR;font-size: 16px; line-height: 1.5rem; margin-top: 4px;display: flex;align-items: center;
      .user{display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100%;}
    }
    .time{font-size: 16px;color: $GRAY_LIGHT_COLOR;text-align: right; margin-left: 8px;}
    .sound-ani{flex: 0 0 1.5rem;margin-right: 5px;display: none;}
  }
  &[data-speaking="Y"]{
    .sound-ani{display: flex;}
  }
  .info2{
    flex: 0 0 auto;
    .group-count{font-size: 14px;text-align: right;font-weight: 700;}
  }
}

.header-alarm{
  display: flex;align-items: center;justify-content: flex-end; height: 100%;
  > li{
    display: flex;align-items: center;
    i{margin-right: 5px;}
    span{line-height: 20px;font-size: 14px;}
    & + li{margin-left: .75rem;}
  }
}

.header-profile{
  .btn-profile{width: $SIDEBAR_WIDTH;height: $HEADER_HEIGHT;}
  html.is-profile &{
    i{background-image: url('../images/icon-profile-active.svg');}
  }
}
