html,
body{
  height: 100%;
  scrollbar-face-color: transparent;
	scrollbar-track-color: transparent;
	scrollbar-arrow-color: #676C72;
	scrollbar-3dlight-color: none;
	scrollbar-shadow-color: #676C72;;
	scrollbar-darkshadow-color: none;
  scrollbar-color: #676C72;
  scrollbar-width: thin;
}
::-webkit-scrollbar{
	width: 6px;
	height: 6px;
	background-color: transparent;
}
::-webkit-scrollbar-track{
	border-radius: 0;
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	border-radius: 9px;
	background-color: #676C72;;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

//body{min-width: 640px;}

#wrap{
  display: flex;flex-direction: column;height: 100%;
}

#container{max-height: 100%;display: flex;flex-grow: 1;padding-top: 100px;}

#app{height: 100%;}

#main{
  display: flex;height: 100%;position: relative;flex-grow: 1;
  .content-left{
    height: 100%;flex: 1 1 auto;
  }
  .content-right{
    background: #2a2c2e;position: relative;flex: 0 0 auto;height: 100%;border-radius: 24px 0px 0px 0px;
    .content-right-inner{
      height: 100%;padding: 36px 0 1rem 0;width: 100%;display: none;
    }
    .btn-right-close{
      background: #27282A;position: absolute;left: -14px;top: 50%;width: 14px;height: 120px; margin-top: -60px;border-radius: 24px 0 0 24px;align-items: center;display: none;
      &::before{content: '';width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 8px;border-color: transparent transparent transparent #ffffff;display: block;transform: translateX(5px);}
      @at-root{
        html[class^="is-"]{
          #main{flex-direction: row;}
          .content-right{margin-left: 1.25rem;}
          .btn-right-close{display: flex !important;}
        }
      }
    }
  }
  @media(max-width: 1024px) and (orientation: portrait){
    @at-root{
      html[class^="is-"]{
        #main{
          .content-right{position: absolute;left: 0;right: 0;top: 0;}
        }
      }
    }
  }
  @media(min-width: 1025px){
    @at-root{
      html[class^="is-"]{
        #main{
          .content-right{
            margin-left: 1.5rem;
            .content-right-inner{width: 420px;}
          }
        }
      }
    }
  }
  @media(min-width: 1180px){
    @at-root{
      html[class^="is-"]{
        #main{
          .content-right{
            .content-right-inner{width: 540px;}
          }
        }
      }
    }
  }

  @media(min-width: 1600px){
    @at-root{
      html[class^="is-"]{
        #main{
          .content-right{
            .content-right-inner{width: 600px;}
          }
        }
      }
    }
  }

}

.container,
.container-fluid{padding-left: 1.25rem;padding-right: 1.25rem;}

html.is-group{
  #aside-group{display: block !important;}
}
html.is-group-detail{
  #aside-group-detail{display: block !important;}
}
html.is-contacts{
  #aside-contacts{display: block !important;}
}
html.is-message{
  #aside-message{display: block !important;}
}
html.is-message-detail{
  #aside-message-detail{display: block !important;}
}
html.is-log{
  #aside-log{display: block !important;}
}


