//body{min-width: 640px;}
#wrap{
  display: flex;flex-direction: column;height: 100%;
}

#container{max-height: 100%;display: flex;flex-grow: 1;padding-top: $HEADER_HEIGHT;z-index: 1;}

#app{height: 100%;}

#main{
  display: flex;height: 100%;position: relative;flex-grow: 1;
  .content-left-pane{
    height: 100%;flex: 0 0 auto;position: relative;display: flex;
    .content-left-pane-inner{
      height: 100%;width: 266px;display: none;
      > .container-fluid{padding-right: .5rem;}
    }
    .btn-left-close{
      background: #141415;width: 1rem;height: 100%;display: flex;align-items: center;justify-content: center;
      &::before{content: '';width: 9px;height: 16px;display: block;background: url('../images/icon-left-toggler.svg') no-repeat 0 0;background-size: contain;margin-left: -1px;}
      @at-root{
        html.is-gis &{
          &::before{transform: rotate(180deg);}
        }
      }
    }
  }
  .content-left{
    height: 100%;flex: 1 1 auto;position: relative;
  }
  .content-right{
    background: #111214;position: relative;flex: 0 0 auto;height: 100%;display: flex;
    .content-right-inner{
      height: 100%;padding: 0 0 1rem 0;width: 100%;display: none;
      //> .container-fluid{padding-left: .5rem;}
    }
    .btn-right-close{
      background: #111214;width: 1rem;height: 100%;display: flex;align-items: center;justify-content: center;display: none;
      position: absolute;left: 0;top: 0;
      &::before{content: '';width: 9px;height: 16px;display: block;background: url('../images/icon-left-toggler.svg') no-repeat 0 0;background-size: contain;margin-right: -1px;}
      @at-root{
        html[class^="is-"]{
          #main{flex-direction: row;}
          .btn-right-close{display: flex !important;}
        }
      }
    }
  }
  @media(max-width: 1024px){
    @at-root{
      html[class^="is-"]{
        #main{
          .content-right{position: absolute;left: 0;right: 0;top: 0;z-index: 2;}
        }
      }
    }
  }
  @media(min-width: 1025px){
    @at-root{
      html[class^="is-"]{
        #main{
          .content-right{
            .content-right-inner{width: 380px;}
          }
        }
      }
    }
  }
  @media(min-width: 1180px){
    @at-root{
      html[class^="is-"]{
        #main{
          .content-right{
            //.content-right-inner{width: 500px;}
          }
        }
      }
    }
  }
}

.top-functions{
  height: 56px;
  .buttons{
    display: flex;align-items: center;gap: 1.25rem;
  }
}

.container,
.container-fluid{padding-left: 1.5rem;padding-right: 1.5rem;}

html.is-group{
  #aside-group{display: block !important;}
}
html.is-group-detail{
  #aside-group-detail{display: block !important;}
}
html.is-contacts{
  #aside-contacts{display: block !important;}
}
html.is-contacts-detail{
  #aside-contacts-detail{display: block !important;}
}
html.is-adhoc-detail{
  #aside-adhoc-detail{display: block !important;}
}
html.is-message{
  #aside-message{display: block !important;}
}
html.is-message-detail{
  #aside-message-detail{display: block !important;}
}
html.is-log{
  #aside-log{display: block !important;}
}
html.is-log-groups{
  #aside-log-groups{display: block !important;}
}
html.is-log-private{
  #aside-log-private{display: block !important;}
}
html.is-settings{
  #aside-settings{display: block !important;}
}
html.is-profile{
  #aside-profile{display: block !important;}
}
html.is-gis{
  #left-gis{display: block !important;}
}

