<!-- modal: 그룹 추가 -->
<div class="modal" tabindex="-1" id="modal-group-add">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="group-add-top">
          <div class="row g-3 align-items-center">
            <div class="col-auto"><i class="icon-circle-group"></i></div>
            <div class="col">
              <input type="text" class="form-control flat" placeholder="Group name" />
            </div>
            <div class="col-auto">
              <small>(Max 32)</small>
            </div>
          </div>
        </div>
        <table class="table border-bottom">
          @@for (var i = 0; i < 4; i++) { <tr>
            <th>Infomation 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            <th>Information 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            </tr>
            }
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: 그룹 수정 -->
<div class="modal" tabindex="-1" id="modal-group-edit">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="group-add-top">
          <div class="row g-3 align-items-center">
            <div class="col-auto"><i class="icon-circle-group"></i></div>
            <div class="col">
              <strong>Group 003</strong>
            </div>
          </div>
        </div>
        <table class="table border-bottom">
          @@for (var i = 0; i < 4; i++) { <tr>
            <th>Infomation 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            <th>Information 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            </tr>
            }
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Apply</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: Add Contact -->
<div class="modal" tabindex="-1" id="modal-contact-add">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="group-add-top">
          <div class="row g-3 align-items-center">
            <div class="col-auto"><i class="icon-circle-private"></i></div>
            <div class="col">
              <input type="text" class="form-control flat" placeholder="User name" />
            </div>
            <div class="col-auto">
              <small>(Max 32)</small>
            </div>
          </div>
        </div>
        <table class="table border-bottom">
          @@for (var i = 0; i < 4; i++) { <tr>
            <th>Infomation 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            <th>Information 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            </tr>
            }
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: Edit Contact -->
<div class="modal" tabindex="-1" id="modal-contact-edit">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="group-add-top">
          <div class="row g-3 align-items-center">
            <div class="col-auto"><i class="icon-circle-private"></i></div>
            <div class="col">
              <strong>User name</strong>
            </div>
          </div>
        </div>
        <table class="table border-bottom">
          @@for (var i = 0; i < 4; i++) { <tr>
            <th>Infomation 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            <th>Information 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            </tr>
            }
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Apply</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: Emergency Call Type Select -->
<div class="modal" tabindex="-1" id="modal-call-emergency">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xs">
    <div class="modal-content">
      <div class="modal-header align-items-start">
        <div class="group-set group-set-lg" data-speaking="Y" data-emergency="Y">
          <div class="status-icon"></div>
          <div class="info">
            <div class="group-name">Emergency</div>
            <div class="group-pttid">Group-009, Group-010, Group-011
            </div>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="card-menu">
          <div class="card-menu-top">
            <button type="button">
              <i class="icon-voice"></i>
              <span>Voice PTT</span>
            </button>
            <button type="button">
              <i class="icon-video"></i>
              <span>Video PTT</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: Call Type - Public -->
<div class="modal" tabindex="-1" id="modal-call-type-public">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Call Type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="card-menu">
          <div class="card-menu-top">
            <button type="button">
              <i class="icon-voice"></i>
              <span>Voice PTT</span>
            </button>
            <button type="button">
              <i class="icon-video"></i>
              <span>Video PTT</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: Call Type - Emmergency -->
<div class="modal" tabindex="-1" id="modal-call-type-emergency">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Call Type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="card-menu">
          <div class="card-menu-top">
            <button type="button">
              <i class="icon-emergency-voice"></i>
              <span>EM-Voice</span>
            </button>
            <button type="button">
              <i class="icon-emergency-video"></i>
              <span>EM-Video</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: Change Paassword -->
<div class="modal" tabindex="-1" id="modal-change-password">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <div class="modal-title">Change Paassword</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="form-group">
          <label for="currentPw">Current password</label>
          <div class="position-relative">
            <input type="password" class="form-control flat" id="currentPw" minlength="8" maxlength="20">
            <button type="button" class="btn-type-toggle" aria-label="Show Password"><i class="icon-eye-off"></i></button>
            <button type="button" class="btn-input-x" aria-label="Remove Value"><i class="icon-input-x"></i></button>
          </div>
        </div>
        <div class="form-group">
          <label for="newPw">New password</label>
          <div class="position-relative">
            <input type="password" class="form-control flat" id="newPw" minlength="8" maxlength="20">
            <button type="button" class="btn-type-toggle" aria-label="Show Password"><i class="icon-eye-off"></i></button>
            <button type="button" class="btn-input-x" aria-label="Remove Value"><i class="icon-input-x"></i></button>
          </div>
          <p class="form-text">8-character minimum; case sensitive?</p>
        </div>
        <div class="form-group">
          <label for="newPwRe">Reenter password</label>
          <div class="position-relative">
            <input type="password" class="form-control flat" id="newPwRe" minlength="8" maxlength="20">
            <button type="button" class="btn-type-toggle" aria-label="Show Password"><i class="icon-eye-off"></i></button>
            <button type="button" class="btn-input-x" aria-label="Remove Value"><i class="icon-input-x"></i></button>
          </div>
        </div>
        <a href="javascript:;" class="form-text text-underline">Forgot your password?</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Save</button>
      </div>
    </div>
  </div>
</div>