<!-- alert style -->
<div class="modal" tabindex="-1" id="alert-sample">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Regroup</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="py-4 text-center">Regroup-A로 그룹이 생성되었습니다.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">NO</button>
        <button type="button" class="btn btn-white">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: Card Sort -->
<div class="modal" tabindex="-1" id="modal-card-sort">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Group Card Sorting Filter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" id="sortName" name="sort" />
          <label class="form-check-label" for="sortName">Name</label>
        </div>
        <div class="form-check mt-3">
          <input class="form-check-input" type="radio" id="sortConntected" name="sort" />
          <label class="form-check-label" for="sortConntected">Connected</label>
        </div>
        <div class="form-check mt-3">
          <input class="form-check-input" type="radio" id="sortPriority" name="sort" />
          <label class="form-check-label" for="sortPriority">Priority</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Apply</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: New Regroup -->
<div class="modal" tabindex="-1" id="modal-new-regroup">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Regroup</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <input type="text" class="form-control flat" placeholder="Regroup Name" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: New Group Patch -->
<div class="modal" tabindex="-1" id="modal-new-patch">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Patch</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <p class="pb-2">사용하실 Patch명을 등록하세요. <br>(알파벳(대소문자 구분), 숫자 포함 최대 32자)</p>
        <input type="text" class="form-control flat" placeholder="Group Patch Name" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: 그룹 추가 -->
<div class="modal" tabindex="-1" id="modal-group-add">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="group-add-top">
          <div class="row g-3 align-items-center">
            <div class="col-auto"><i class="icon-circle-group"></i></div>
            <div class="col">
              <input type="text" class="form-control flat" placeholder="Group name" />
            </div>
            <div class="col-auto">
              <small>(Max 32)</small>
            </div>
          </div>
        </div>
        <table class="table border-bottom">
          @@for (var i = 0; i < 4; i++) { <tr>
            <th>Infomation 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            <th>Information 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            </tr>
            }
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: 그룹 수정 -->
<div class="modal" tabindex="-1" id="modal-group-edit">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="group-add-top">
          <div class="row g-3 align-items-center">
            <div class="col-auto"><i class="icon-circle-group"></i></div>
            <div class="col">
              <strong>Group 003</strong>
            </div>
          </div>
        </div>
        <table class="table border-bottom">
          @@for (var i = 0; i < 4; i++) { <tr>
            <th>Infomation 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            <th>Information 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            </tr>
            }
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Apply</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: 그룹 멤버 추가 및 수정 -->
<div class="modal" tabindex="-1" id="modal-group-member">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Group Member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="table-top">
          <div class="table-title">Users<span>(300)</span></div>
          <div class="table-function">
            <div class="search-form show">
              <input type="text" class="form-control" placeholder="Search" />
              <button type="button" class="search-btn"><i class="icon-search"></i></button>
            </div>
            <label class="form-check flat inline label-empty"></label>
          </div>
        </div>
        <table class="table table-thead-fixed">
          <thead>
            <tr>
              <th class="text-center" style="width: 50px">
                <label class="form-check form-check-inline flat label-empty"><input type="checkbox" class="form-check-input" /></label>
              </th>
              <th class="text-center">Usernames</th>
              <th class="text-center" style="width: 120px">PTT-ID</th>
              <th class="text-center" style="width: 90px">Priority</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" style="width: 50px">
                <label class="form-check form-check-inline flat label-empty"><input type="checkbox" class="form-check-input" id="listRow0" checked /></label>
              </td>
              <td class="text-start">
                <label for="listRow0" class="d-flex align-items-center">
                  <i class="icon-circle-private me-3"></i>
                  User-0000001
                </label>
              </td>
              <td class="text-center" style="width: 120px">123456789</td>
              <td class="text-center" style="width: 90px">1</td>
            </tr>
            @@for (var i = 1; i < 10; i++) { <tr>
              <td class="text-center" style="width: 50px">
                <label class="form-check form-check-inline flat label-empty"><input type="checkbox" class="form-check-input" id="listRow`+i+`" /></label>
              </td>
              <td class="text-start">
                <label for="listRow`+i+`" class="d-flex align-items-center">
                  <i class="icon-circle-private-connecting me-3"></i>
                  User-0000001
                </label>
              </td>
              <td class="text-center" style="width: 120px">123456789</td>
              <td class="text-center" style="width: 90px">1</td>
              </tr>
              }
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Apply</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: Group Detail More Menu -->
<div class="modal" tabindex="-1" id="modal-group-detail-more">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xs">
    <div class="modal-content">
      <div class="modal-header align-items-start">
        <div class="group-set" data-call-status="private" data-user-connecting="Y">
          <div class="status-icon"></div>
          <div class="info">
            <div class="user-name">Usernames</div>
            <div class="user-pttid">12030101030</div>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 ps-0 pe-0">
        <div class="card-menu">
          <div class="card-menu-top">
            <button type="button">
              <i class="icon-voice"></i>
              <span>Voice PTT</span>
            </button>
            <button type="button">
              <i class="icon-video"></i>
              <span>Video PTT</span>
            </button>
            <button type="button">
              <i class="icon-message"></i>
              <span>Emergency</span>
            </button>
          </div>
          <div class="card-menu-body">
            <ul class="set">
              <li>
                <a href="javascript:;" role="button"><i class="icon-listening"></i><span>Ambient Listening</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: Log Filter -->
<div class="modal" tabindex="-1" id="modal-log-filter">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="ps-2">
          <div class="form-check flat">
            <input class="form-check-input" type="checkbox" id="filterAll" />
            <label class="form-check-label" for="filterAll">All Filter View</label>
          </div>
        </div>
        <div class="filter-wrap">
          <div class="form-check flat">
            <input class="form-check-input" type="checkbox" id="filter1" />
            <label class="form-check-label" for="filter1">Login</label>
          </div>
          <div class="form-check flat">
            <input class="form-check-input" type="checkbox" id="filter2" />
            <label class="form-check-label" for="filter2">Group Information Change</label>
          </div>
          <div class="form-check flat">
            <input class="form-check-input" type="checkbox" id="filter3" />
            <label class="form-check-label" for="filter3">Logout</label>
          </div>
          <div class="form-check flat">
            <input class="form-check-input" type="checkbox" id="filter4" />
            <label class="form-check-label" for="filter4">User Information Change</label>
          </div>
          <div class="form-check flat">
            <input class="form-check-input" type="checkbox" id="filter5" />
            <label class="form-check-label" for="filter5">Patching</label>
          </div>
          <div class="form-check flat">
            <input class="form-check-input" type="checkbox" id="filter6" />
            <label class="form-check-label" for="filter6">Emergency Message</label>
          </div>
          <div class="form-check flat">
            <input class="form-check-input" type="checkbox" id="filter7" />
            <label class="form-check-label" for="filter7">Regrouping</label>
          </div>
          <div class="form-check flat">
            <input class="form-check-input" type="checkbox" id="filter8" />
            <label class="form-check-label" for="filter8">Receive Alert</label>
          </div>
          <div class="form-check flat">
            <input class="form-check-input" type="checkbox" id="filter9" />
            <label class="form-check-label" for="filter9">Emergency Call</label>
          </div>
          <div class="form-check flat">
            <input class="form-check-input" type="checkbox" id="filter10" />
            <label class="form-check-label" for="filter10">Send Alert</label>
          </div>
          <div class="form-check flat">
            <input class="form-check-input" type="checkbox" id="filter11" />
            <label class="form-check-label" for="filter11">Broadcast Call</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white">Apply</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: Add Contact -->
<div class="modal" tabindex="-1" id="modal-contact-add">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="group-add-top">
          <div class="row g-3 align-items-center">
            <div class="col-auto"><i class="icon-circle-private"></i></div>
            <div class="col">
              <input type="text" class="form-control flat" placeholder="User name" />
            </div>
            <div class="col-auto">
              <small>(Max 32)</small>
            </div>
          </div>
        </div>
        <table class="table border-bottom">
          @@for (var i = 0; i < 4; i++) { <tr>
            <th>Infomation 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            <th>Information 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            </tr>
            }
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: Edit Contact -->
<div class="modal" tabindex="-1" id="modal-contact-edit">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="group-add-top">
          <div class="row g-3 align-items-center">
            <div class="col-auto"><i class="icon-circle-private"></i></div>
            <div class="col">
              <strong>User name</strong>
            </div>
          </div>
        </div>
        <table class="table border-bottom">
          @@for (var i = 0; i < 4; i++) { <tr>
            <th>Infomation 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            <th>Information 01</th>
            <td>
              <input type="text" class="form-control flat" />
            </td>
            </tr>
            }
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Apply</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: Card Menu -->
<div class="modal" tabindex="-1" id="modal-card-menu">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header align-items-start">
        <div class="group-set group-set-lg" data-call-status="regroup">
          <div class="status-icon"></div>
          <div class="info">
            <div class="group-name">Group 003, Group 004, Group 005, Group 006, Group 007</div>
            <div class="group-pttid">User name (20”-30”)</div>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 ps-0 pe-0">
        <div class="card-menu">
          <!-- Call 대기 상태 -->
          <div class="card-menu-top">
            <button type="button">
              <i class="icon-voice"></i>
              <span>Voice PTT</span>
            </button>
            <button type="button">
              <i class="icon-video"></i>
              <span>Video PTT</span>
            </button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-call-type-emergency">
              <i class="icon-emergency"></i>
              <span>Emergency</span>
            </button>
          </div>
          <!-- Voice Call 상태 -->
          <div class="card-menu-top">
            <button type="button">
              <i class="icon-video-change"></i>
              <span>Video PTT</span>
            </button>
            <button type="button">
              <i class="icon-end"></i>
              <span>Call end</span>
            </button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-call-type-emergency">
              <i class="icon-emergency"></i>
              <span>Emergency</span>
            </button>
          </div>
          <!-- Video Call 상태 -->
          <div class="card-menu-top">
            <button type="button">
              <i class="icon-voice-change"></i>
              <span>Voice PTT</span>
            </button>
            <button type="button">
              <i class="icon-end"></i>
              <span>Call end</span>
            </button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-call-type-emergency">
              <i class="icon-emergency"></i>
              <span>Emergency</span>
            </button>
          </div>
          <!-- Emergency Call 상태 -->
          <div class="card-menu-top">
            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-call-type-public">
              <i class="icon-call-change"></i>
              <span>Call Change</span>
            </button>
            <button type="button">
              <i class="icon-end-emergency"></i>
              <span>Call end</span>
            </button>
            <button type="button">
              <i class="icon-emergency-voice"></i>
              <span>Emergency</span>
            </button>
          </div>
          <div class="card-menu-body">
            <ul class="set">
              <li>
                <a href="javascript:;" role="button"><i class="icon-message"></i><span>Message</span></a>
              </li>
              <li>
                <a href="javascript:;" role="button"><i class="icon-people"></i><span>Member</span></a>
              </li>
              <li>
                <a href="javascript:;" role="button"><i class="icon-info"></i><span>Group Information</span></a>
              </li>
            </ul>
            <ul class="set">
              <li>
                <a href="javascript:;" role="button"><i class="icon-favorites-on"></i><span>Add to favorite</span></a>
              </li>
            </ul>
            <!-- Patch -->
            <ul class="set">
              <li>
                <a href="javascript:;" role="button"><i class="icon-cancel"></i><span>Cancel Patch</span></a>
              </li>
            </ul>
            <div class="group-list-in-modal">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <div class="title">Patching Group</div>
              </div>
              <table class="table table-thead-fixed">
                <thead>
                  <tr>
                    <th class="text-left">Group name</th>
                    <th class="text-center" style="width: 120px">PTT-ID</th>
                  </tr>
                </thead>
                <tbody>
                  @@for (var i = 1; i < 3; i++) { <tr>
                    <td class="text-start">CN_POL_WEST PD1 PD1</td>
                    <td class="text-center" style="width: 120px">123456789</td>
                    </tr>
                    }
                </tbody>
              </table>
            </div>
            <!-- //Patch -->
            <!-- Regroup -->
            <ul class="set">
              <li>
                <a href="javascript:;" role="button"><i class="icon-cancel"></i><span>UnRegroup</span></a>
              </li>
            </ul>
            <div class="group-list-in-modal">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <div class="title">Regrouping Group</div>
              </div>
              <table class="table table-thead-fixed font-size-13">
                <thead>
                  <tr>
                    <th class="text-left">Group name</th>
                    <th class="text-center" style="width: 120px">PTT-ID</th>
                  </tr>
                </thead>
                <tbody>
                  @@for (var i = 1; i < 3; i++) { <tr>
                    <td class="text-start">CN_POL_WEST PD1 PD1</td>
                    <td class="text-center" style="width: 120px">123456789</td>
                    </tr>
                    }
                </tbody>
              </table>
            </div>
            <!-- //Regroup -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: Emergency Call Type Select -->
<div class="modal" tabindex="-1" id="modal-call-emergency">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xs">
    <div class="modal-content">
      <div class="modal-header align-items-start">
        <div class="group-set group-set-lg" data-speaking="Y" data-call-status="emergency">
          <div class="status-icon"></div>
          <div class="info">
            <div class="group-name">Emergency</div>
            <div class="group-pttid">Group-009, Group-010, Group-011
            </div>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="card-menu">
          <div class="card-menu-top">
            <button type="button">
              <i class="icon-voice"></i>
              <span>Voice PTT</span>
            </button>
            <button type="button">
              <i class="icon-video"></i>
              <span>Video PTT</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: Broadcast Call Type Select -->
<div class="modal" tabindex="-1" id="modal-call-broadcast">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xs">
    <div class="modal-content">
      <div class="modal-header align-items-start">
        <div class="group-set group-set-lg" data-speaking="Y" data-call-status="broadcast">
          <div class="status-icon"></div>
          <div class="info">
            <div class="group-name">Broadcast</div>
            <div class="group-pttid">Group-009, Group-010, Group-011
            </div>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="card-menu">
          <div class="card-menu-top">
            <button type="button">
              <i class="icon-voice"></i>
              <span>Voice PTT</span>
            </button>
            <button type="button">
              <i class="icon-video"></i>
              <span>Video PTT</span>
            </button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-call-broadcast">
              <i class="icon-message"></i>
              <span>Messages</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: Broadcast Message -->
<div class="modal" tabindex="-1" id="modal-call-broadcast">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header align-items-start">
        <div class="group-set group-set-lg" data-speaking="Y" data-call-status="broadcast">
          <div class="status-icon"></div>
          <div class="info">
            <div class="group-name">Broadcast</div>
            <div class="group-pttid">Group-009, Group-010, Group-011</div>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="textarea">
          <textarea rows="3" class="form-control" placeholder="내용을 입력해주세요" maxlength="300"></textarea>
          <div class="byte"><span>0</span>/300</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: Settings -->
<div class="modal" tabindex="-1" id="modal-settings">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <div class="modal-title">Settings</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="settings">
          <div class="row g-0">
            <div class="col-auto">
              <div class="tab-wrap">
                <div class="nav flex-column" role="tablist">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#settings-1" type="button" role="tab" aria-selected="true">Account</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#settings-2" type="button" role="tab" aria-selected="false">Device</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#settings-3" type="button" role="tab" aria-selected="false">SIP</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#settings-4" type="button" role="tab" aria-selected="false">System</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="tab-content pb-0">
                <div class="tab-pane show active" id="settings-1" role="tabpanel" tabindex="0">
                  <div class="d-flex flex-column h-100">
                    <div class="flex-grow-1">
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <th>User name</th>
                            <td>
                              <input type="text" class="form-control flat" value="J.T. Smith">
                            </td>
                          </tr>
                          <tr>
                            <th>PTT ID</th>
                            <td>
                              <input type="text" class="form-control flat" value="123456789">
                            </td>
                          </tr>
                          <tr>
                            <th>Authority</th>
                            <td>
                              <select class="form-select">
                                <option value="">Master</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <th>User type</th>
                            <td>
                              <select class="form-select">
                                <option value="">Dispatcher</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <th>Priority</th>
                            <td>
                              <select class="form-select">
                                <option value="">1</option>
                              </select>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-white">Save</button>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="settings-2" role="tabpanel" tabindex="0">
                  <div class="d-flex flex-column h-100">
                    <div class="flex-grow-1">
                      <div class="form-group">
                        <label for="deviceSpeaker">Speaker</label>
                        <select id="deviceSpeaker" class="form-select">
                          <option value="">System Device</option>
                        </select>
                        <div class="range-wrap">
                          <i class="icon-speaker"></i>
                          <div class="range">
                            <input type="range" title="Speaker Volume" min="0" max="100" value="50" />
                            <span class="range-progress" style="width: 50%"></span>
                          </div>
                          <span class="range-value">50</span>
                        </div>
                      </div>
                      <div class="form-group mb-0">
                        <label for="deviceMic">Microphone</label>
                        <select id="deviceMic" class="form-select">
                          <option value="">System Device</option>
                        </select>
                        <div class="range-wrap">
                          <i class="icon-mic"></i>
                          <div class="range">
                            <input type="range" title="Microphone Volume" min="0" max="100" value="50" />
                            <span class="range-progress" style="width: 50%"></span>
                          </div>
                          <span class="range-value">50</span>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-white">Save</button>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="settings-3" role="tabpanel" tabindex="0">
                  tab 3
                </div>
                <div class="tab-pane" id="settings-4" role="tabpanel" tabindex="0">
                  tab 4
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: Change Paassword -->
<div class="modal" tabindex="-1" id="modal-change-password">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <div class="modal-title">Change Paassword</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="form-group">
          <label for="currentPw">Current password</label>
          <div class="position-relative">
            <input type="password" class="form-control flat" id="currentPw" minlength="8" maxlength="20">
            <button type="button" class="btn-type-toggle" aria-label="Show Password"><i class="icon-eye-off"></i></button>
            <button type="button" class="btn-input-x" aria-label="Remove Value"><i class="icon-input-x"></i></button>
          </div>
        </div>
        <div class="form-group">
          <label for="newPw">New password</label>
          <div class="position-relative">
            <input type="password" class="form-control flat" id="newPw" minlength="8" maxlength="20">
            <button type="button" class="btn-type-toggle" aria-label="Show Password"><i class="icon-eye-off"></i></button>
            <button type="button" class="btn-input-x" aria-label="Remove Value"><i class="icon-input-x"></i></button>
          </div>
          <p class="form-text">8-character minimum; case sensitive?</p>
        </div>
        <div class="form-group">
          <label for="newPwRe">Reenter password</label>
          <div class="position-relative">
            <input type="password" class="form-control flat" id="newPwRe" minlength="8" maxlength="20">
            <button type="button" class="btn-type-toggle" aria-label="Show Password"><i class="icon-eye-off"></i></button>
            <button type="button" class="btn-input-x" aria-label="Remove Value"><i class="icon-input-x"></i></button>
          </div>
        </div>
        <a href="javascript:;" class="form-text text-underline">Forgot your password?</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: New Geogroup -->
<div class="modal" tabindex="-1" id="modal-new-geogroup">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Geogroup</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <input type="text" class="form-control flat" placeholder="Geogroup Name" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: Geogroup Option -->
<div class="modal" tabindex="-1" id="modal-geogroup-option">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <div class="modal-title">Geogroup Option</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>Geogroup ID</th>
              <td>
                Geogroup_001 ID
              </td>
            </tr>
            <tr>
              <th>Geogroup Name</th>
              <td>
                <input type="text" class="form-control flat" placeholder="Geogroup Name">
              </td>
            </tr>
            <tr>
              <th>Drawing</th>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light">Delete</button>
        <button type="button" class="btn btn-white">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: Call Type - Public -->
<div class="modal" tabindex="-1" id="modal-call-type-public">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Call Type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="call-function mt-0">
          <button type="button">
            <i class="icon-voice"></i>
            <span>Voice PTT</span>
          </button>
          <button type="button">
            <i class="icon-video"></i>
            <span>Video PTT</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: Call Type - Emmergency -->
<div class="modal" tabindex="-1" id="modal-call-type-emergency">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Call Type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="call-function mt-0">
          <button type="button">
            <i class="icon-emergency-voice"></i>
            <span>EM-Voice</span>
          </button>
          <button type="button">
            <i class="icon-emergency-video"></i>
            <span>EM-Video</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: Ad-hoc More Menu -->
<div class="modal" tabindex="-1" id="modal-adhoc-more">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xs">
    <div class="modal-content">
      <div class="modal-header align-items-start">
        <div class="group-set" data-speaking="Y" data-call-status="adhoc">
          <div class="status-icon"></div>
          <div class="info">
            <div class="group-name">Ad-hoc-001</div>
            <div class="group-pttid">12030101030</div>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 ps-0 pe-0">
        <div class="card-menu">
          <div class="card-menu-top">
            <button type="button">
              <i class="icon-voice"></i>
              <span>Voice PTT</span>
            </button>
            <button type="button">
              <i class="icon-video"></i>
              <span>Video PTT</span>
            </button>
            <button type="button">
              <i class="icon-message"></i>
              <span>Emergency</span>
            </button>
          </div>
          <div class="card-menu-body">
            <ul class="set">
              <li>
                <a href="javascript:;" role="button"><i class="icon-adhoc"></i><span>Member +</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: Ad-hoc Detail More Menu -->
<div class="modal" tabindex="-1" id="modal-adhoc-detail-more">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xs">
    <div class="modal-content">
      <div class="modal-header align-items-start">
        <div class="group-set" data-speaking="Y" data-call-status="adhoc">
          <div class="status-icon"></div>
          <div class="info">
            <div class="group-name">Ad-hoc-001</div>
            <div class="group-pttid">12030101030</div>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 ps-0 pe-0">
        <div class="card-menu">
          <div class="card-menu-top">
            <button type="button">
              <i class="icon-voice"></i>
              <span>Voice PTT</span>
            </button>
            <button type="button">
              <i class="icon-video"></i>
              <span>Video PTT</span>
            </button>
            <button type="button">
              <i class="icon-message"></i>
              <span>Emergency</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: Ad-hoc group Member -->
<div class="modal" tabindex="-1" id="modal-adhoc-member">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ad-hoc group Member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="table-top">
          <div class="table-title">Contacts<span>(300)</span></div>
          <div class="table-function">
            <div class="search-form show">
              <input type="text" class="form-control" placeholder="Search" />
              <button type="button" class="search-btn"><i class="icon-search"></i></button>
            </div>
            <label class="form-check flat inline label-empty"></label>
          </div>
        </div>
        <table class="table table-thead-fixed">
          <thead>
            <tr>
              <th class="text-center" style="width: 50px">
                <label class="form-check form-check-inline flat label-empty"><input type="checkbox" class="form-check-input" /></label>
              </th>
              <th class="text-center">Usernames</th>
              <th class="text-center" style="width: 140px">PTT-ID</th>
              <th class="text-center" style="width: 70px">Priority</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" style="width: 50px">
                <label class="form-check form-check-inline flat label-empty"><input type="checkbox" class="form-check-input" id="listRow0" checked /></label>
              </td>
              <td class="text-start">
                <label for="listRow0" class="d-flex align-items-center">
                  <i class="icon-circle-private me-3"></i>
                  User-0000001
                </label>
              </td>
              <td class="text-center" style="width: 140px">123456789</td>
              <td class="text-center" style="width: 70px">1</td>
            </tr>
            @@for (var i = 1; i < 10; i++) { <tr>
              <td class="text-center" style="width: 50px">
                <label class="form-check form-check-inline flat label-empty"><input type="checkbox" class="form-check-input" id="listRow`+i+`" /></label>
              </td>
              <td class="text-start">
                <label for="listRow`+i+`" class="d-flex align-items-center">
                  <i class="icon-circle-private-connecting me-3"></i>
                  User-0000001
                </label>
              </td>
              <td class="text-center" style="width: 140px">123456789</td>
              <td class="text-center" style="width: 70px">1</td>
              </tr>
              }
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Apply</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: Location Search -->
<div class="modal" tabindex="-1" id="modal-location">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Location Search</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <div class="map-in-modal">
          <div id="map-modal"></div>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOpzyj8aG-pgzXoIsQuWmt64CRrITpH74&callback=initMap&libraries=marker,places,drawing&v=weelky" defer></script>
          <script>
            let mapModal;
            function initMap() {
              mapModal = new google.maps.Map(document.getElementById("map-modal"), {
                center: new google.maps.LatLng(-33.91722, 151.23064),
                zoom: 16,
                disableDefaultUI: true,
                mapTypeId: "roadmap"
              });
            }
          </script>
          <button type="button" class="btn-here active" aria-label="My Location">
            <i class="icon-here-off"></i>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-white">Apply</button>
      </div>
    </div>
  </div>
</div>