<div class="container-fluid h-100">
  <div class="d-flex flex-column h-100">
    <div class="table-top">
      <div class="d-flex align-items-center">
        <button type="button" class="btn-back"><i class="icon-detail-back"></i></button>
        <div class="group-set" data-call-status="group">
          <div class="status-icon"></div>
          <div class="info">
            <div class="group-name">Group 001</div>
            <div class="group-pttid">PTT12121234511</div>
          </div>
        </div>
      </div>
      <div class="table-function">
        <!-- 탭마다 노출 버튼이 다름. 화면설계서 확인 요망. -->
        @@include('@@webRoot/_components/_search-form.html')
        <!-- Members 활성화 시 show -->
        <button type="button" aria-label="Add Group Member" data-bs-toggle="modal" data-bs-target="#modal-group-member"><i class="icon-plus"></i></button>
      </div>
    </div>
    <nav class="operation-tab">
      <div class="nav nav-tabs" role="tablist">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#group-1" type="button" role="tab" aria-selected="true">History</button>
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#group-2" type="button" role="tab" aria-selected="false">Details</button>
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#group-3" type="button" role="tab" aria-selected="false">Members(200)</button>
      </div>
    </nav>
    <div class="tab-content py-0 flex-grow-1">
      <div class="tab-pane fade h-100 show active" id="group-1" role="tabpanel">
        <div class="d-flex flex-column h-100">
          <div class="table-body mt-4">
            @@for (var i = 2; i > 0; i--) {
            <div class="message-date"><span>2022-00-00 TUE</span></div>
            <div class="message-item">
              <div class="user">User Name</div>
              <div class="message">
                <div class="cont">
                  <i class="icon-video"></i>
                  <p>30”</p>
                </div>
                <div class="time">00:00:00 AM</div>
              </div>
            </div>
            <div class="message-item my">
              <div class="message">
                <div class="cont">
                  <i class="icon-voice"></i>
                  <p>30”</p>
                </div>
                <div class="time">00:00:00 AM</div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="tab-pane fade h-100" id="group-2" role="tabpanel">
        <div class="d-flex h-100 flex-column">
          <!-- Call 대기 상태 -->
          <div class="call-function">
            <button type="button">
              <i class="icon-voice"></i>
              <span>Voice PTT</span>
            </button>
            <button type="button">
              <i class="icon-video"></i>
              <span>Video PTT</span>
            </button>
            <button type="button">
              <i class="icon-emergency"></i>
              <span>Emergency</span>
            </button>
            <button type="button">
              <i class="icon-message"></i>
              <span>Message</span>
            </button>
          </div>
          <!-- Voice Call 상태 -->
          <div class="call-function">
            <button type="button">
              <i class="icon-video-change"></i>
              <span>Video PTT</span>
            </button>
            <button type="button">
              <i class="icon-end"></i>
              <span>Call end</span>
            </button>
            <button type="button">
              <i class="icon-emergency"></i>
              <span>Emergency</span>
            </button>
            <button type="button">
              <i class="icon-message"></i>
              <span>Message</span>
            </button>
          </div>
          <!-- Video Call 상태 -->
          <div class="call-function">
            <button type="button">
              <i class="icon-voice-change"></i>
              <span>Voice PTT</span>
            </button>
            <button type="button">
              <i class="icon-end"></i>
              <span>Call end</span>
            </button>
            <button type="button">
              <i class="icon-emergency"></i>
              <span>Emergency</span>
            </button>
            <button type="button">
              <i class="icon-message"></i>
              <span>Message</span>
            </button>
          </div>
          <!-- Emergency Call 상태 -->
          <div class="call-function">
            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-call-type-public">
              <i class="icon-call-change"></i>
              <span>Call Change</span>
            </button>
            <button type="button">
              <i class="icon-end-emergency"></i>
              <span>Call end</span>
            </button>
            <button type="button">
              <i class="icon-emergency-voice"></i>
              <span>Emergency</span>
            </button>
            <button type="button">
              <i class="icon-message"></i>
              <span>Message</span>
            </button>
          </div>
          <div class="table-body">
            <table class="table">
              <tbody>
                <tr>
                  <th class="text-start">Type</th>
                  <td class="text-start">000000</td>
                </tr>
                <tr>
                  <th class="text-start">미사용대기시간</th>
                  <td class="text-start">000000</td>
                </tr>
                <tr>
                  <th class="text-start">참여자 최대수</th>
                  <td class="text-start">000000</td>
                </tr>
                <tr>
                  <th class="text-start">통화녹음</th>
                  <td class="text-start">000000</td>
                </tr>
                <tr>
                  <th class="text-start">비상통화허용</th>
                  <td class="text-start">000000</td>
                </tr>
                <tr>
                  <th class="text-start">GeoFance type</th>
                  <td class="text-start">000000</td>
                </tr>
                <tr>
                  <th class="text-start">Priority</th>
                  <td class="text-start">000000</td>
                </tr>
                <tr>
                  <th class="text-start">MBMS지역코드</th>
                  <td class="text-start">000000</td>
                </tr>
                <tr>
                  <th class="text-start">소속기관명</th>
                  <td class="text-start">000000</td>
                </tr>
                <tr>
                  <th class="text-start">미디어암호화</th>
                  <td class="text-start">000000</td>
                </tr>
                <tr>
                  <th class="text-start">통화코덱</th>
                  <td class="text-start">000000</td>
                </tr>
                <tr>
                  <th class="text-start">지역</th>
                  <td class="text-start">000000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane fade h-100" id="group-3" role="tabpanel">
        <div class="table-body">
          <table class="table table-fixed">
            <colgroup>
              <col style="width: 260px">
              <col>
              <col>
            </colgroup>
            <tbody>
              @@for (var i = 0; i < 15; i++) { <tr>
                <td class="text-start">
                  <a href="javascript:;" class="group-set" data-aside="is-contacts" data-call-status="private" data-user-connecting="Y">
                    <div class="status-icon"><span class="dnd" data-dnd="Y">DND</span></div>
                    <div class="info">
                      <div class="user-name">Usernames</div>
                      <div class="user-pttid">PTT12121234511</div>
                    </div>
                  </a>
                </td>
                <td class="text-end px-1">
                  <button type="button" aria-label="More"><i class="icon-more-white" data-bs-toggle="modal" data-bs-target="#modal-group-detail-more"></i></button>
                </td>
                <td class="text-end px-1">
                  <button type="button" aria-label="Add Contact" disabled><i class="icon-download"></i></button>
                </td>
                </tr>
                }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>