<div class="container-fluid h-100">
  <div class="d-flex flex-column h-100">
    <div class="table-top">
      <div class="d-flex align-items-center">
        <button type="button" class="btn-back"><i class="icon-detail-back"></i></button>
        <div class="group-set">
          <div class="status-icon"></div>
          <div class="info">
            <div class="group-name">Group 001</div>
            <div class="group-pttid">PTT12121234511</div>
          </div>
        </div>
      </div>
      <div class="table-function">
        <!-- 탭마다 노출 버튼이 다름. 화면설계서 확인 요망. -->
        @@include('@@webRoot/_components/_search-form.html')
        <!-- Members 활성화 시 show -->
        <button type="button" aria-label="Add Group Member" data-bs-toggle="modal" data-bs-target="#modal-group-member"><i class="icon-plus"></i></button>
      </div>
    </div>
    <nav class="operation-tab">
      <div class="nav nav-tabs" role="tablist">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#group-1" type="button" role="tab" aria-selected="true" aria-label="History"><i class="icon-tab-history"></i></button>
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#group-2" type="button" role="tab" aria-selected="false" aria-label="Details"><i class="icon-tab-details"></i></button>
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#group-3" type="button" role="tab" aria-selected="false" aria-label="Members"><i class="icon-tab-member"></i></button>
      </div>
    </nav>
    <div class="tab-content py-0 flex-grow-1">
      <div class="tab-pane fade h-100" id="group-1" role="tabpanel">
        <div class="d-flex flex-column h-100">
          <div class="table-body px-5 mt-4">
            @@for (var i = 4; i > 0; i--) {
            <div class="message-date"><span>2022-00-00 TUE</span></div>
            <div class="message-item">
              <div class="user">User Name</div>
              <div class="message">
                <div class="cont min-width">
                  <i class="icon-video"></i>
                  <p>30”</p>
                </div>
                <div class="time">00:00 AM</div>
              </div>
            </div>
            <div class="message-item my">
              <div class="message">
                <div class="cont min-width">
                  <i class="icon-voice"></i>
                  <p>30”</p>
                </div>
                <div class="time">00:00 AM</div>
              </div>
            </div>
            }
            <div class="message-item" data-playing="pause">
              <div class="message">
                <div class="cont min-width">
                  <div class="progress-bar" style="width:80%"></div>
                  <i class="icon-voice"></i>
                  <p>30”</p>
                </div>
                <div class="time">00:00 AM</div>
              </div>
            </div>
            <div class="message-item my" data-playing="play">
              <div class="message">
                <div class="cont min-width">
                  <div class="progress-bar" style="width:80%"></div>
                  <i class="icon-voice"></i>
                  <p>30”</p>
                </div>
                <div class="time">00:00 AM</div>
              </div>
            </div>
            <div class="message-item" data-adhoc="Y">
              <div class="message">
                <div class="cont">
                  <p>
                    User_003 is entering.
                  </p>
                </div>
                <div class="time">00:00 AM</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade h-100" id="group-2" role="tabpanel">
        <div class="d-flex h-100 flex-column">
          <!-- Call 대기 상태 -->
          <div class="call-function">
            <div class="item">
              <button type="button">
                <i class="icon-voice"></i>
                <span>Voice</span>
              </button>
            </div>
            <div class="item">
              <button type="button">
                <i class="icon-video"></i>
                <span>Video</span>
              </button>
            </div>
            <div class="item">
              <button type="button">
                <i class="icon-emergency"></i>
                <span>Emergency</span>
              </button>
            </div>
            <div class="item">
              <button type="button">
                <i class="icon-message"></i>
                <span>Message</span>
              </button>
            </div>
          </div>
          <div class="table-body">
            <table class="table table-fixed">
              <tbody>
                <tr>
                  <th class="text-start">Group ID</th>
                  <td class="text-start">000000</td>
                </tr>
                <tr>
                  <th class="text-start">Emergency call</th>
                  <td class="text-start">true</td>
                </tr>
                <tr>
                  <th class="text-start">Emergency alert</th>
                  <td class="text-start">true</td>
                </tr>
                <tr>
                  <th class="text-start">MCPTT</th>
                  <td class="text-start">true</td>
                </tr>
                <tr>
                  <th class="text-start">MCVideo</th>
                  <td class="text-start">true</td>
                </tr>
                <tr>
                  <th class="text-start">MCData</th>
                  <td class="text-start">true</td>
                </tr>
                <tr>
                  <th class="text-start">Media Protected</th>
                  <td class="text-start">true</td>
                </tr>
                <tr>
                  <th class="text-start">Member Count</th>
                  <td class="text-start">100</td>
                </tr>
                <tr>
                  <th class="text-start">Max. Duration</th>
                  <td class="text-start">10000</td>
                </tr>
                <tr>
                  <th class="text-start">Hang Time</th>
                  <td class="text-start">100</td>
                </tr>
                <tr>
                  <th class="text-start">Max. Participants</th>
                  <td class="text-start">30</td>
                </tr>
                <tr>
                  <th class="text-start">Group Priority</th>
                  <td class="text-start">1</td>
                </tr>
                <tr>
                  <th class="text-start">Organization</th>
                  <td class="text-start">HQ</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane fade h-100 show active" id="group-3" role="tabpanel">
        <div class="table-body">
          <ul class="table-style">
            <li class="row gx-0 position-relative">
              <div class="col">
                <a href="javascript:;" class="group-set" data-aside="is-contacts" data-private="Y" data-user-connecting="N">
                  <div class="status-icon"></div>
                  <div class="info">
                    <div class="user-name">Usernames</div>
                    <div class="user-pttid">PTT12121234511</div>
                  </div>
                </a>
              </div>
              <div class="col-auto">
                <button type="button" class="btn-more" aria-label="More"><i class="icon-more-white"></i></button>
                <div class="more-menu-in-table">
                  <div class="call-function">
                    <div class="item">
                      <button type="button">
                        <i class="icon-voice"></i>
                        <span>Voice</span>
                      </button>
                    </div>
                    <div class="item">
                      <button type="button">
                        <i class="icon-video"></i>
                        <span>Video</span>
                      </button>
                    </div>
                    <div class="item">
                      <button type="button" data-bs-toggle="modal" data-bs-target="#modal-ambient-type">
                        <i class="icon-listening"></i>
                        <span>Ambient</span>
                      </button>
                    </div>
                    <div class="item">
                      <button type="button">
                        <i class="icon-message"></i>
                        <span>Message</span>
                      </button>
                    </div>
                    <div class="item point">
                      <button type="button">
                        <i class="icon-download"></i>
                        <span>Add <br>Contact</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            @@for (var i = 0; i < 10; i++) { <li class="row gx-0 position-relative">
              <div class="col">
                <a href="javascript:;" class="group-set" data-aside="is-contacts" data-private="Y" data-user-connecting="Y" data-dnd="Y">
                  <div class="status-icon"></div>
                  <div class="info">
                    <div class="user-name">Usernames</div>
                    <div class="user-pttid">PTT12121234511</div>
                  </div>
                </a>
              </div>
              <div class="col-auto">
                <!-- 토글 .active -->
                <button type="button" class="btn-more" aria-label="More"><i class="icon-more-white"></i></button>
                <div class="more-menu-in-table">
                  <div class="call-function">
                    <div class="item">
                      <button type="button">
                        <i class="icon-voice"></i>
                        <span>Voice</span>
                      </button>
                    </div>
                    <div class="item">
                      <button type="button">
                        <i class="icon-video"></i>
                        <span>Video</span>
                      </button>
                    </div>
                    <div class="item">
                      <button type="button" data-bs-toggle="modal" data-bs-target="#modal-ambient-type">
                        <i class="icon-listening"></i>
                        <span>Ambient</span>
                      </button>
                    </div>
                    <div class="item">
                      <button type="button">
                        <i class="icon-message"></i>
                        <span>Message</span>
                      </button>
                    </div>
                    <div class="item point">
                      <button type="button">
                        <i class="icon-download"></i>
                        <span>Add <br>Contact</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              </li>
              }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>