<div class="container-fluid h-100">
  <div class="d-flex flex-column h-100">
    <div class="table-top">
      <div class="d-flex align-items-center">
        <button type="button" class="btn-back"><i class="icon-detail-back"></i></button>
        <div class="group-set" data-private="Y">
          <div class="status-icon"></div>
          <div class="info">
            <div class="group-name">Usernames</div>
            <div class="group-pttid">PTT12121234511</div>
          </div>
        </div>
      </div>
      <div class="table-function">@@include('@@webRoot/_components/_search-form.html')</div>
    </div>
    <div class="table-body">
      <div class="log-item">
        <div class="table-sub-title">2022/00/00 Monday (2)</div>
        <table class="table table-fixed">
          <colgroup>
            <col>
            <col style="width: 105px">
            <col style="width: 55px">
          </colgroup>
          <tbody>
            @@for (var i = 3; i > 0; i--) {
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <i class="icon-in me-1 flex-shrink-0"></i>
                  <div class="flex-grow-1 text-ellipsis">Last UsernamesLast</div>
                </div>
              </td>
              <td>
                <div class="table-date text-start">
                  <i class="icon-voice color-light-gray"></i>
                  00:00:00
                </div>
              </td>
              <td>
                <div class="table-time">00</div>
              </td>
            </tr>
            }
            <tr class="muted">
              <td>
                <div class="d-flex align-items-center">
                  <i class="icon-in me-1 flex-shrink-0"></i>
                  <div class="flex-grow-1 text-ellipsis">Last UsernamesLast UsernamesLast UsernamesLast Usernames</div>
                </div>
              </td>
              <td>
                <div class="table-date text-start">
                  <i class="icon-voice color-light-gray"></i>
                  00:00:00
                </div>
              </td>
              <td>
                <div class="table-time">000</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="log-item">
        <div class="table-sub-title">2022/00/00 Monday (2)</div>
        <table class="table table-fixed">
          <colgroup>
            <col>
            <col style="width: 105px">
            <col style="width: 55px">
          </colgroup>
          <tbody>
            @@for (var i = 3; i > 0; i--) {
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <i class="icon-out me-1 flex-shrink-0"></i>
                  <div class="flex-grow-1 text-ellipsis">Last UsernamesLast UsernamesLast UsernamesLast Usernames</div>
                </div>
              </td>
              <td>
                <div class="table-date text-start">
                  <i class="icon-video color-light-gray"></i>
                  00:00:00
                </div>
              </td>
              <td>
                <div class="table-time">10</div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>