<!DOCTYPE html>
<html lang="ko">

<head>
  @@include('@@webRoot/_include/_head.html')
</head>

<body>
  <div id="wrap">
    @@include('@@webRoot/_include/_header.html') @@include('@@webRoot/_include/_aside.html')
    <div id="container">
      <main id="main">
        <div class="content-right" id="aside-message">
          <div class="container-fluid">
            <div class="d-flex flex-column h-100">
              <nav class="group-tab-wrap">
                <button type="button" class="detail-back"><i class="icon-detail-back"></i></button>
                <div class="nav nav-tabs" role="tablist">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#message-1" type="button" role="tab" aria-selected="true">Group Message</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#message-2" type="button" role="tab" aria-selected="false">Private Message</button>
                </div>
              </nav>
              <div class="tab-content d-flex flex-column h-100">
                <div class="tab-pane fade show active" id="message-1" role="tabpanel">
                  <div class="table-function">
                    <div class="search-form message">
                      <input type="text" class="search-inp w-100" />
                      <button type="button" class="search-btn"><i class="icon-search"></i></button>
                    </div>
                  </div>
                  <div class="table-body">
                    <table class="table table-dark table-group">
                      <colgroup>
                        <col width="40%" />
                        <col width="35%" />
                        <col width="25%" />
                      </colgroup>
                      <thead>
                        <tr>
                          <th>ID / Name</th>
                          <th class="text-center">Message Group</th>
                          <th class="text-center">End-Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        @@for (var i = 0; i < 12; i++) { <tr>
                          <td class="text-start">
                            <p class="group-id">Group_ID_001</p>
                            <p class="group-name">Group_ID_001</p>
                          </td>
                          <td class="text-center">
                            <p>2022/00/00</p>
                            <p>00:00:00</p>
                          </td>
                          <td class="text-center">
                            <div class="position-relative">
                              <button type="button" class="more-msg-option"><i class="icon-more"></i></button>
                              <div class="group-info msg">
                                <button type="button" data-aside="message-detail"><i class="icon-chat"></i><span>Message</span></button>
                                <button type="button"><i class="icon-delete"></i><span>Delete</span></button>
                              </div>
                            </div>
                          </td>
                          </tr>
                          }
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane fade d-flex flex-column h-100" id="message-2" role="tabpanel"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-right" id="aside-message-detail">
          <div class="container-fluid d-flex flex-column">
            <div class="table-top">
              <button type="button" class="fold-btn"><i class="icon-fold"></i></button>
              <div class="table-title">Groups<span>(11)</span></div>
            </div>
            <div class="group-emergency-wrap group-message d-flex flex-column h-100">
              <div class="group-emergency-body">
                <div class="text-center">
                  <div class="chat-date">2022--00-00 TUE</div>
                </div>
                <div class="content-box reception">
                  <p class="user-name">Park</p>
                  <div class="chat-paragraph">
                    <div class="record-box">
                      <div class="record-desc">
                        <p>User_name | (30”)</p>
                        <p>User_PTT_ID</p>
                      </div>
                    </div>
                    <p class="date">00:00:00 AM</p>
                  </div>
                  <div class="chat-paragraph">
                    <div class="record-box">
                      <div class="record-desc">
                        <p>User_name | (30”)</p>
                        <p>User_PTT_ID</p>
                      </div>
                    </div>
                    <p class="date">00:00:00 AM</p>
                  </div>
                </div>
                <div class="content-box reception">
                  <p class="user-name">Park</p>
                  <div class="chat-paragraph">
                    <div class="record-box">
                      <i class="icon-file"></i>
                      <div class="record-desc">
                        <p>User_name | (30”)</p>
                      </div>
                    </div>
                    <p class="date">00:00:00 AM</p>
                  </div>
                  <div class="chat-paragraph">
                    <div class="img-box">
                      <img src="../assets/images/test-img.png" alt="" />
                    </div>
                    <p class="date">00:00:00 AM</p>
                  </div>
                </div>
                <div class="content-box sent">
                  <div class="chat-paragraph">
                    <div class="record-box">
                      <div class="record-desc">
                        <p>User_name | (30”)</p>
                        <p>User_PTT_ID</p>
                      </div>
                    </div>
                    <p class="date">00:00:00 AM</p>
                  </div>
                </div>
              </div>
              <div class="message-send">
                <div class="">
                  <button type=""><i class="icon-add-more"></i></button>
                  <input type="text" name="" id="" class="message-send-inp" />
                </div>
                <button type="button" class="message-send-btn">SEND</button>
              </div>
            </div>
          </div>
        </div>

        <div class="content-right" id="aside-private-log">
          <div class="container-fluid">
            <div class="d-flex flex-column h-100">
              <nav class="group-tab-wrap">
                <button type="button" class="detail-back"><i class="icon-detail-back"></i></button>
                <div class="nav nav-tabs" role="tablist">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#log-1" type="button" role="tab" aria-selected="true">Private Call Log</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#log-2" type="button" role="tab" aria-selected="false">Event Log</button>
                </div>
              </nav>
              <div class="tab-content d-flex flex-column h-100">
                <div class="tab-pane fade show active" id="log-1" role="tabpanel">
                  <div class="date-search-wrap">
                    <div class="inp-calender">
                      <input type="text" id="datepicker-as" />
                      <i class="icon-calender"></i>
                    </div>
                    <span class="dash">~</span>
                    <div class="inp-calender">
                      <input type="text" id="datepicker-is" />
                      <i class="icon-calender"></i>
                    </div>
                    <button type="button" class="date-search"><i class="icon-search-btn"></i></button>
                  </div>
                  <div class="table-body">
                    <table class="table table-dark table-group">
                      <colgroup>
                        <col width="60%" />
                        <col width="20%" />
                        <col width="20%" />
                      </colgroup>
                      <thead>
                        <tr>
                          <th>User name</th>
                          <th class="text-center">Call-Start</th>
                          <th class="text-center">Call-End</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td colspan="3" class="text-center">2022.10.05. Monday</td>
                        </tr>
                        @@for (var i = 0; i < 12; i++) { <tr>
                          <td class="text-start">
                            <p class="group-name">Group_ID_001</p>
                          </td>
                          <td class="text-center">
                            <p>00:00:00 AM</p>
                          </td>
                          <td class="text-center">
                            <!-- <button type="button"><i class="icon-call-on"></i></button> -->
                            <button type="button"><i class="icon-card-video-on"></i></button>
                          </td>
                          </tr>
                          }
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane fade d-flex flex-column h-100" id="log-2" role="tabpanel">
                  <div class="date-search-wrap">
                    <div class="inp-calender">
                      <input type="text" id="datepicker-as" />
                      <i class="icon-calender"></i>
                    </div>
                    <span class="dash">~</span>
                    <div class="inp-calender">
                      <input type="text" id="datepicker-is" />
                      <i class="icon-calender"></i>
                    </div>
                    <button type="button" class="date-search"><i class="icon-search-btn"></i></button>
                  </div>
                  <div class="table-body">
                    <table class="table table-dark table-group">
                      <colgroup>
                        <col width="80%" />
                        <col width="20%" />
                      </colgroup>
                      <thead>
                        <tr>
                          <th>Event</th>
                          <th class="text-center">End-Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td colspan="3" class="text-center">02/02/2022</td>
                        </tr>
                        @@for (var i = 0; i < 6; i++) { <tr>
                          <td class="text-start">
                            <p class="group-name">Regrouping (Group Name)</p>
                          </td>
                          <td class="text-center">
                            <p>00:00:00 AM</p>
                          </td>
                          </tr>
                          }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- //실컨텐츠 -->
    </div>
  </div>
</body>
<script>
  const moreOption = document.querySelector(".btn-option-more");
  moreOption.addEventListener("click", function () {
    this.classList.add("active");
  });
  document.addEventListener("mouseup", function (e) {
    let t = e.target;
    let groupInfo = t.closest(".group-info");
    if (!groupInfo) {
      moreOption.classList.remove("active");
    }
  });

  const msgOption = document.querySelector(".more-msg-option");
  msgOption.addEventListener("click", function () {
    this.classList.add("active");
  });
  document.addEventListener("mouseup", function (e) {
    let t = e.target;
    let groupInfo = t.closest(".group-info.msg");
    if (!groupInfo) {
      msgOption.classList.remove("active");
    }
  });
</script>

</html>