<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('@@webRoot/_include/_head.html')
  </head>

  <body>
    <div id="wrap">
      @@include('@@webRoot/_include/_header.html') @@include('@@webRoot/_include/_aside.html')
      <div id="container">
        <main id="main">
          <div class="content-left">
            <div class="container-fluid p-0">
              <div class="row align-items-center justify-content-between select-tab">
                <div class="col-auto">
                  <nav class="tab-wrap">
                    <div class="nav nav-tabs" role="tablist">
                      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-1" type="button" role="tab" aria-selected="true">Groups</button>
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-selected="false">Emergency</button>
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3" type="button" role="tab" aria-selected="false">Patch</button>
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4" type="button" role="tab" aria-selected="false">Regroup</button>
                    </div>
                  </nav>
                </div>
                <div class="col-auto p-0">
                  <div class="card-sort">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="multipleCheck" />
                      <label class="form-check-label" for="multipleCheck"> Multiple Selection </label>
                    </div>
                    <select class="form-select ms-3">
                      <option value="">Sort by name</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                  <div class="group-list">
                    <div class="item">
                      <div class="card reception" data-state="standby">
                        <div class="card-header">
                          <a href="javascript:void(0);" class="call active"><i class="icon-call"></i></a>
                          <a href="javascript:void(0);" class="favorites active"><i class="icon-favorites"></i></a>
                        </div>
                        <div class="card-body">
                          <div class="title">Group 02</div>
                          <div class="name">Dio Cory</div>
                          <div class="timer">00:01</div>
                          <div class="btns">
                            <button type="button"><i class="icon-call-btn"></i></button>
                            <button type="button"><i class="icon-call-end"></i></button>
                            <button type="button"><i class="icon-menu"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card" data-state="standby">
                        <div class="card-header">
                          <a href="javascript:void(0);" class="call"><i class="icon-call active"></i></a>
                          <a href="javascript:void(0);" class="favorites active"><i class="icon-favorites"></i></a>
                        </div>
                        <div class="card-body">
                          <div class="name">88888888001</div>
                          <div class="timer"></div>
                          <div class="btns">
                            <button type="button" class="call-disabled" disabled><i class="icon-call-btn"></i></button>
                            <button type="button"><i class="icon-menu"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card" data-state="standby">
                        <div class="card-header">
                          <a href="javascript:void(0);" class="call"><i class="icon-call active"></i></a>
                          <a href="javascript:void(0);" class="favorites active"><i class="icon-favorites"></i></a>
                        </div>
                        <div class="card-body">
                          <div class="name">88888888001</div>
                          <div class="timer"></div>
                          <div class="btns">
                            <button type="button" class="call-disabled" disabled><i class="icon-call-btn"></i></button>
                            <button type="button"><i class="icon-menu"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card" data-state="standby">
                        <div class="card-header">
                          <a href="javascript:void(0);" class="call"><i class="icon-call active"></i></a>
                          <a href="javascript:void(0);" class="favorites active"><i class="icon-favorites"></i></a>
                        </div>
                        <div class="card-body">
                          <div class="name">88888888001</div>
                          <div class="timer"></div>
                          <div class="btns">
                            <button type="button" class="video-disabled" disabled><i class="icon-video"></i></button>
                            <button type="button"><i class="icon-menu"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card" data-state="standby">
                        <div class="card-header">
                          <a href="javascript:void(0);" class="call"><i class="icon-call active"></i></a>
                          <a href="javascript:void(0);" class="favorites active"><i class="icon-favorites"></i></a>
                        </div>
                        <div class="card-body">
                          <div class="name">88888888001</div>
                          <div class="timer"></div>
                          <div class="btns">
                            <button type="button"><i class="icon-call-sent"></i></button>
                            <button type="button"><i class="icon-call-end"></i></button>
                            <button type="button"><i class="icon-menu"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card" data-state="standby">
                        <div class="card-header">
                          <a href="javascript:void(0);" class="call"><i class="icon-call active"></i></a>
                          <a href="javascript:void(0);" class="favorites active"><i class="icon-favorites"></i></a>
                        </div>
                        <div class="card-body">
                          <div class="name">88888888001</div>
                          <div class="timer"></div>
                          <div class="btns">
                            <button type="button"><i class="icon-call-reception"></i></button>
                            <button type="button"><i class="icon-call-end"></i></button>
                            <button type="button"><i class="icon-menu"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card group-call" data-state="standby">
                        <div class="card-header">
                          <a href="javascript:void(0);" class="call"><i class="icon-call active"></i></a>
                          <a href="javascript:void(0);" class="favorites active"><i class="icon-favorites"></i></a>
                        </div>
                        <div class="card-body">
                          <div class="name">88888888001</div>
                          <div class="timer"></div>
                          <div class="btns">
                            <button type="button"><i class="icon-call-btn"></i></button>
                            <button type="button"><i class="icon-menu"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card group-call" data-state="standby">
                        <div class="card-header">
                          <a href="javascript:void(0);" class="call"><i class="icon-call active"></i></a>
                          <a href="javascript:void(0);" class="favorites active"><i class="icon-favorites"></i></a>
                        </div>
                        <div class="card-body">
                          <div class="name">88888888001</div>
                          <div class="timer"></div>
                          <div class="btns">
                            <button type="button"><i class="icon-call-sent"></i></button>
                            <button type="button"><i class="icon-call-end"></i></button>
                            <button type="button"><i class="icon-menu"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card group-call" data-state="standby">
                        <div class="card-header">
                          <a href="javascript:void(0);" class="call"><i class="icon-call active"></i></a>
                          <a href="javascript:void(0);" class="favorites active"><i class="icon-favorites"></i></a>
                        </div>
                        <div class="card-body">
                          <div class="name">88888888001</div>
                          <div class="timer"></div>
                          <div class="btns">
                            <button type="button"><i class="icon-call-reception"></i></button>
                            <button type="button"><i class="icon-call-end"></i></button>
                            <button type="button"><i class="icon-menu"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card group-call" data-state="standby">
                        <div class="card-header">
                          <a href="javascript:void(0);" class="ic-card-video"><i class="icon-card-video-off"></i></a>
                          <a href="javascript:void(0);" class="favorites active"><i class="icon-favorites"></i></a>
                        </div>
                        <div class="card-body">
                          <div class="name">88888888001</div>
                          <div class="timer"></div>
                          <div class="btns">
                            <button type="button"><i class="icon-video"></i></button>
                            <button type="button"><i class="icon-call-end"></i></button>
                            <button type="button"><i class="icon-menu"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card group-call" data-state="standby">
                        <div class="card-header">
                          <a href="javascript:void(0);" class="ic-card-video active"><i class="icon-card-video-off"></i></a>
                          <a href="javascript:void(0);" class="favorites active"><i class="icon-favorites"></i></a>
                        </div>
                        <div class="card-body">
                          <div class="name">88888888001</div>
                          <div class="timer"></div>
                          <div class="btns">
                            <button type="button"><i class="icon-video-sent"></i></button>
                            <button type="button"><i class="icon-call-end"></i></button>
                            <button type="button"><i class="icon-menu"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card group-call" data-state="standby">
                        <div class="card-header">
                          <a href="javascript:void(0);" class="ic-card-video"><i class="icon-card-video-off"></i></a>
                          <a href="javascript:void(0);" class="favorites active"><i class="icon-favorites"></i></a>
                        </div>
                        <div class="card-body">
                          <div class="name">88888888001</div>
                          <div class="timer"></div>
                          <div class="btns">
                            <button type="button"><i class="icon-video-reception"></i></button>
                            <button type="button"><i class="icon-call-end"></i></button>
                            <button type="button"><i class="icon-menu"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-2" role="tabpanel">tab 2</div>
                <div class="tab-pane fade" id="tab-3" role="tabpanel">tab 3</div>
                <div class="tab-pane fade" id="tab-4" role="tabpanel">tab 4</div>
              </div>
            </div>
          </div>
          <div class="content-right" id="aside-group">
            <div class="container-fluid">
              <div class="d-flex flex-column h-100">
                <div class="table-top">
                  <button type="button" class="fold-btn"><i class="icon-fold"></i></button>
                  <div class="table-title">Groups<span>(11)</span></div>
                  <div class="table-function">
                    <div class="search-form">
                      <input type="text" class="search-inp" />
                      <button type="button" class="search-btn"><i class="icon-search"></i></button>
                    </div>
                    <button type="button" class="more-btn"><i class="icon-plus"></i></button>
                  </div>
                </div>
                <div class="table-body">
                  <table class="table table-dark table-group">
                    <colgroup>
                      <col width="50%" />
                      <col width="17%" />
                      <col width="17%" />
                      <col width="16%" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th>ID / Name</th>
                        <th class="text-center">Members</th>
                        <th class="text-center">Priority</th>
                        <th class="text-center">Option</th>
                      </tr>
                    </thead>
                    <tbody>
                      @@for (var i = 0; i < 12; i++) {
                      <tr>
                        <td class="text-start">
                          <p class="group-id">Group_ID_001</p>
                          <p class="group-name">Group_ID_001</p>
                        </td>
                        <td class="text-center">200</td>
                        <td class="text-center">3</td>
                        <td class="text-center">
                          <div class="position-relative">
                            <button type="button" class="more-option"><i class="icon-more"></i></button>
                            <div class="group-info">
                              <button type="button"><i class="icon-chat"></i><span>Message</span></button>
                              <button type="button"><i class="icon-update"></i><span>Logs</span></button>
                              <button type="button" class="last-btn open-group-detail"><i class="icon-subtract"></i><span>Detail</span></button>
                            </div>
                          </div>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="content-right" id="aside-group-detail">
            <div class="container-fluid">
              <div class="content-right-nav">
                <a href="" class="content-nav-link">Group</a>
                <p class="content-nav-link">Group Detail</p>
              </div>
              <nav class="group-tab-wrap">
                <button type="button" class="detail-back"><i class="icon-detail-back"></i></button>
                <div class="nav nav-tabs" role="tablist">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#group-1" type="button" role="tab" aria-selected="true">Groups</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#group-2" type="button" role="tab" aria-selected="false">Emergency</button>
                </div>
              </nav>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="group-1" role="tabpanel">
                  <div class="group-detail-wrap">
                    <div class="group-detail-main">
                      <div class="d-flex align-items-center">
                        <i class="icon-profile-active"></i>
                        <div class="ml-1">
                          <p class="group-id">Group_ID_001</p>
                          <p class="group-name">Group_ID_001</p>
                        </div>
                      </div>
                      <button type="button" class="eitd-btn"><i class="icon-edit"></i></button>
                    </div>
                    <div class="group-detail-desc">
                      <ul>
                        <li>
                          <span class="key">Type</span>
                          <span class="value">A</span>
                        </li>
                        <li>
                          <span class="key">미사용대기시간</span>
                          <span class="value">12:00</span>
                        </li>
                        <li>
                          <span class="key">참여자 최대수</span>
                          <span class="value">3</span>
                        </li>
                        <li>
                          <span class="key">통화녹음</span>
                          <span class="value">2</span>
                        </li>
                        <li>
                          <span class="key">비상통화허용 </span>
                          <span class="value">YES</span>
                        </li>
                        <li>
                          <span class="key">GeoFance type</span>
                          <span class="value">type</span>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <span class="key">Priority</span>
                          <span class="value">A</span>
                        </li>
                        <li>
                          <span class="key">MBMS지역코드</span>
                          <span class="value">12:00</span>
                        </li>
                        <li>
                          <span class="key">소속기관명</span>
                          <span class="value">3</span>
                        </li>
                        <li>
                          <span class="key">미디어암호화</span>
                          <span class="value">2</span>
                        </li>
                        <li>
                          <span class="key">통화코덱</span>
                          <span class="value">YES</span>
                        </li>
                        <li>
                          <span class="key">지역</span>
                          <span class="value">type</span>
                        </li>
                      </ul>
                    </div>
                    <div class="d-flex flex-column">
                      <div class="table-top">
                        <div class="table-title">Member<span>(110)</span></div>
                        <div class="table-function">
                          <div class="search-form">
                            <input type="text" class="search-inp" />
                            <button type="button" class="search-btn"><i class="icon-search"></i></button>
                          </div>
                          <button type="button" class="more-btn"><i class="icon-plus"></i></button>
                        </div>
                      </div>
                      <div class="table-body">
                        <table class="table table-dark table-group">
                          <colgroup>
                            <col width="50%" />
                            <col width="17%" />
                            <col width="17%" />
                            <col width="16%" />
                          </colgroup>
                          <tbody>
                            <tr>
                              <td class="text-start">
                                <div class="d-flex">
                                  <i class="icon-profile-active"></i>
                                  <div class="ml-1">
                                    <p class="group-id">Group_ID_001</p>
                                    <p class="group-name">Group_ID_001</p>
                                  </div>
                                </div>
                              </td>
                              <td class="text-center">2</td>
                              <td class="text-center">DND</td>
                              <td class="text-center">
                                <div class="position-relative">
                                  <button type="button" class="more-data off"><i class="icon-graph"></i></button>
                                </div>
                              </td>
                            </tr>
                            @@for (var i = 0; i < 5; i++) {
                            <tr>
                              <td class="text-start">
                                <div class="d-flex">
                                  <i class="icon-profile-active"></i>
                                  <div class="ml-1">
                                    <p class="group-id">Group_ID_001</p>
                                    <p class="group-name">Group_ID_001</p>
                                  </div>
                                </div>
                              </td>
                              <td class="text-center">2</td>
                              <td class="text-center">DND</td>
                              <td class="text-center">
                                <div class="position-relative">
                                  <button type="button" class="more-data"><i class="icon-graph"></i></button>
                                </div>
                              </td>
                            </tr>
                            }
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="group-2" role="tabpanel">
                  <div class="date-search-wrap">
                    <div class="inp-calender">
                      <input type="text" id="datepicker-as" />
                      <i class="icon-calender"></i>
                    </div>
                    <span class="dash">~</span>
                    <div class="inp-calender">
                      <input type="text" id="datepicker-is" />
                      <i class="icon-calender"></i>
                    </div>
                    <button type="button" class="date-search"><i class="icon-search-btn"></i></button>
                  </div>
                  <div class="group-emergency-wrap">
                    <div class="group-emergency-head">
                      <div class="group-detail-main">
                        <div class="d-flex align-items-center">
                          <i class="icon-profile-active"></i>
                          <div class="ml-1">
                            <p class="group-id">Group_ID_001</p>
                            <p class="group-name">Group_ID_001</p>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <div class="table-top">
                          <div class="form-check-wrap">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="multipleCheck" />
                              <label class="form-check-label" for="multipleCheck">Voice</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="multipleCheck" />
                              <label class="form-check-label" for="multipleCheck">Video</label>
                            </div>
                          </div>
                          <div class="table-function">
                            <div class="search-form">
                              <input type="text" class="search-inp" />
                              <button type="button" class="search-btn"><i class="icon-search"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="group-emergency-body">
                      <div class="text-center">
                        <div class="chat-date">2022--00-00 TUE</div>
                      </div>
                      <div class="content-box reception">
                        <div class="record-box">
                          <i class="icon-card-video-on"></i>
                          <div class="record-desc">
                            <p>User_name | (30”)</p>
                            <p>User_PTT_ID</p>
                          </div>
                        </div>
                        <p class="date">00:00:00 AM</p>
                      </div>
                      <div class="content-box reception">
                        <div class="record-box">
                          <i class="icon-card-video-on"></i>
                          <div class="record-desc">
                            <p>User_name | (30”)</p>
                            <p>User_PTT_ID</p>
                          </div>
                        </div>
                        <p class="date">00:00:00 AM</p>
                      </div>
                      <div class="content-box sent">
                        <div class="record-box">
                          <i class="icon-call-on"></i>
                          <div class="record-desc">
                            <p>User_name | (30”)</p>
                            <p>User_PTT_ID</p>
                          </div>
                        </div>
                        <p class="date">00:00:00 AM</p>
                      </div>

                      <div class="record-box sent"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- //실컨텐츠 -->
      </div>
    </div>
  </body>
  <script>
    const moreOption = document.querySelector(".more-option");
    moreOption.addEventListener("click", function () {
      this.classList.add("active");
    });
    document.addEventListener("mouseup", function (e) {
      let t = e.target;
      let groupInfo = t.closest(".group-info");
      if (!groupInfo) {
        moreOption.classList.remove("active");
      }
    });
  </script>
</html>
